{% load static %}

<section class="scooter_section" id="fourth-section">
    <div class="image-container">
        <img width="500"
             src="{% static 'scooters/media/scooter-safety-fourth-section.webp' %}">
    </div>
    <div class="text-container">
        <h2 class="section-title">
            Bolt | Школа електросамокатів
        </h2>
        <p>
            Дізнайся, як безпечно їздити на самокаті
        </p>
        <ol class="laws-ul">
            <li>
                <b>
                    Scooting and the law
                </b>
                <a href="https://assets.ctfassets.net/tk7rwcciwvbq/7nrq3fJ2L3G4LNhr3DZqgt/229530201212dd94a5f993f03a99a235/Scooting_and_the_law_UA.pdf">
                    Відкрити PDF-файл ↗
                </a>
            </li>
            <li>
                <b>
                    The ABC of scooting
                </b>
                <a href="https://assets.ctfassets.net/tk7rwcciwvbq/4ymv54FtM43pcqmXGolDQH/9a694c031e786641a2ae9593a51fef2a/the_ABC_of_scooting_UA.pdf">
                    Відкрити PDF-файл ↗
                </a>
            </li>
            <li>
                <b>
                    Ride smart, Ride safe
                </b>
                <a href="https://assets.ctfassets.net/tk7rwcciwvbq/322KTXuRCq6J4VvlAOCEKA/53015fb23cd6a5d8d613d51328c40af0/Ride_Smart_Ride_Safe_UA.pdf">
                    Відкрити PDF-файл ↗
                </a>
            </li>
            <li>
                <b>
                    The art of parking
                </b>
                <a href="https://assets.ctfassets.net/tk7rwcciwvbq/4mkh0dEjOPyGeNmZjICfLg/b22e2efc251d072d1daaa27fca3e8f03/the_art_of_parking_UA.pdf">
                    Відкрити PDF-файл ↗
                </a>
            </li>
        </ol>
    </div>
</section>