<section class="scooters_section" id="main-section">
    <div class="image-container background-image" id="image-container"></div>
    <div class="text-container">
        <h1 class="section-title">
            Безпечні поїздки з Bolt
        </h1>
        <p class="section-desc">
            Ваша безпека - наш пріоритет. Дізнайтесь, що ми робимо,
            щоб ваші поїздки на самокатах Bolt були безпечними,
            та отримайте кілька порад щодо безпеки на самокатах!
            З кількістю інцидентів 1 на 80,000 км, Bolt є одним
            з найбезпечніших операторів самокатів у світі.
        </p>
        <a href="#" class="download-btn">
            Bolt | Школа електросамокатів
        </a>
    </div>
</section>