{% load static %}

<section class="scooters_section" id="second-section">
    <div class="text-container">
        <h1 class="section-title">
            Звіт про безпеку електросамокатів Bolt
        </h1>
        <p>
            Дізнайся, як виглядають показники Bolt у порівнянні із
            середніми значеннями на ринку та ознайомтесь із нашими новими
            функціями
        </p>
        <a href="#">
            Прочитати звіт
        </a>
    </div>
    <div class="image-container">
        <img width="450"
             src="{% static 'scooters/media/scooters-safety-second-section.svg' %}"
        >
    </div>
</section>