{% load static %}

<div class="add-section">
    <div class="info-page-content">
        <h4 class="section-title">
            Доставка твоїх улюблених страв.
        </h4>
        <p class="section-additional-info">
            Зіскануй QR-код за допомогою камери смартфона, щоб завантажити додаток
            Bolt Food. Доступний для пристроїв на iOS та Android.
        </p>
    </div>
    <div class="image-page-content">
        <img class="add-image" src="{% static 'index_page/src/add-img.webp' %}">
    </div>
</div>