<div class="fag-section">
        <h4 class="section-title">
            Поширені запитання
        </h4>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                            aria-expanded="false" aria-controls="flush-collapseOne">
                        Як знайти ресторани з доставкою поблизу мене?
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Bolt Food має величезний вибір ресторанів та крамниць у твоєму місті. Просто введи свою
                        адресу або ввімкни визначення місця розташування - ти зможеш побачити усі доступні ресторани
                        поблизу
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                            aria-expanded="false" aria-controls="flush-collapseTwo">
                        Чи доставляє Bolt щось окрім їжі?
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Залежно від країни та регіону ми також пропонуємо доставку продуктів з місцевих крамниць
                        та супермаркетів. Не потрібно завантажувати додаткові застосунки - шукай магазини та
                        продукти безпосередньо у додатку Bolt Food
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                            aria-expanded="false" aria-controls="flush-collapseThree">
                        Чи можу я замовити їжу навинос через додаток?
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Так, звісно! При розміщенні замовлення обирай функцію "Самовивіз" як спосіб доставки, і
                        ресторан підготує його для тебе. Зверни увагу, що ця опція доступна лише для деяких закладів.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseFour"
                            aria-expanded="false" aria-controls="flush-collapseFour">
                        Чи пропонує Bolt Food рекомендації щодо того, які страви варто замовити?
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        На головному екрані є багато різних категорій з найпопулярнішими ресторанами у твоєму місті.
                        Ти також можеш переглядати меню та рейтинги закладів, щоб переконатися, що замовляєш
                        найкращі страви.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseFive"
                            aria-expanded="false" aria-controls="flush-collapseFive">
                        Які заклади представлені у Bolt Food?
                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        У нас широкий асортимент страв та інших товарів з можливістю доставки як з ресторанів,
                        так і з магазинів. Головний критерій, за яким ми обираємо партнерів - відповідність
                        нашим стандартам якості
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseSix"
                            aria-expanded="false" aria-controls="flush-collapseSix">
                        Як заплатити за доставку їжі?
                    </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Ти можеш оплатити доставку продуктів або їжі готівкою, картою або за допомогою Балансу Bolt.
                        Просто вибери потрібний спосіб оплати під час оформлення замовлення.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven"
                            aria-expanded="false" aria-controls="flush-collapseSeven">
                        Яка вартіcть доставки їжі?
                    </button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Ціни на доступні замовлення товару визначаються індивідуально. Перш ніж
                        підтвердити замовлення, ти можеш переглянути свій кошик і побачити загальну кількість
                        вибраних товарів. До загальної суми можуть бути додані наступні збори:
                        <ul class="accordion-ul">
                            <li class="accordion-li">
                                Плата за доставку;
                            </li>
                            <li class="accordion-li">
                                Доплата за мале замовлення(для замовлень, ціна яких нижча від мінімальної).
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseEight"
                            aria-expanded="false" aria-controls="flush-collapseEight">
                        Чи є акції на доставку їжі?
                    </button>
                </h2>
                <div id="flush-collapseEight" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Ресторани на платформі можуть пропонувати акційні товари та кампанії. Активні акції
                        відображаються в додатку Bolt Food. На платформі доступні наступні акційні кампанії:
                        <ul class="accordion-ul">
                            <li class="accordion-li">
                                Купуй 1 і отримай 1 безкоштовно;
                            </li>
                            <li class="accordion-li">
                                Знижка на все меню(у відсотках);
                            </li>
                            <li class="accordion-li">
                                Різні знижки на окремі позиції(знижки не сумуються);
                            </li>
                            <li class="accordion-li">
                                Безплатна доставка.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseNine"
                            aria-expanded="false" aria-controls="flush-collapseNine">
                        Чи надаємо ми безконтактну доставку їжі?
                    </button>
                </h2>
                <div id="flush-collapseNine" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Так, ми пропонуємо безконтактну доставку їжі та продуктів. Просто додай коментар до
                        замовлення зі своїми побажаннями, і твоє замовлення буде доставлено до порогу.
                        Безконтактна доставка неможлива в таких випадках:
                        <ul class="accordion-ul">
                            <li class="accordion-li">
                                замовлення із оплатою готівкою;
                            </li>
                            <li class="accordion-li">
                                замовлення, де необхідна перевірка документів.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseTen"
                            aria-expanded="false" aria-controls="flush-collapseTen">
                        Як отримати допомогу, якщо виникли проблеми із доставкою їжі?
                    </button>
                </h2>
                <div id="flush-collapseTen" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Якщо у тебе виникли проблеми із доставкою їжі чи продуктів, зв'яжись з нами через
                        додаток Bolt Food. Вибери потрібне замовлення та натисни кнопку "Отримати допомогу".
                        Будь ласка, надай нам зображення отриманого замовлення та опиши проблему, що виникла.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven"
                            aria-expanded="false" aria-controls="flush-collapseEleven">
                        Як надіслати відгук про свій досвід замовлення їжі?
                    </button>
                </h2>
                <div id="flush-collapseEleven" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Ми завжди прагнемо покращити обслуговування, і твоя думка відіграє в цьому важливу роль.
                        Після отримання замовлення ти можеш оцінити якість їжі та враження від доставки у додатку
                        Bolt Food.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve"
                            aria-expanded="false" aria-controls="flush-collapseTwelve">
                        Чи пропонуємо ми доставку продуктів день в день?
                    </button>
                </h2>
                <div id="flush-collapseTwelve" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Ми доставимо твоє замовлення за лічені хвилини. Вибери супермаркет, звідки ти хочеш
                        замовити продукти, та оформи замовлення. Усі обрані товари невдовзі будуть доставлені
                        до порогу твоїх дверей!
                    </div>
                </div>
            </div>
             <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseThirteen"
                            aria-expanded="false" aria-controls="flush-collapseThirteen">
                        Як працює Bolt Food?
                    </button>
                </h2>
                <div id="flush-collapseThirteen" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Bolt Food - це додаток для доставки їжі, що об'єднує на одній платформі найкращі ресторани
                        та крамниці у твоєму місті. Переглядай меню, обирай найапетитніші страви або продукти
                        та замовляй їх з доставкою прямо до твоїх дверей.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseFourteen"
                            aria-expanded="false" aria-controls="flush-collapseFourteen">
                        Як оформити замовлення?
                    </button>
                </h2>
                <div id="flush-collapseFourteen" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Просто знайди улюблений ресторан або магазин, вибери страви або продукти на свій смак
                        і додай їх у кошик. Заповни інформацію про доставку та оплату - і готово! Лише кілька
                        хвилин, і твоє замовлення вже в дорозі.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseFifteen"
                            aria-expanded="false" aria-controls="flush-collapseFifteen">
                        Скільки часу займає доставка?
                    </button>
                </h2>
                <div id="flush-collapseFifteen" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Час доставки залежить від ресторану/магазину, часу доби, заторів, погоди та відстані до
                        твого місця розташування. Однак кур'єри Bolt Food завжди намагаються доставити замовлення
                        в найкоротші терміни!
                    </div>
                </div>
            </div>
             <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseSixteen"
                            aria-expanded="false" aria-controls="flush-collapseSixteen">
                        Як я можу фільтрувати результати?
                    </button>
                </h2>
                <div id="flush-collapseSixteen" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Кнопка налаштування фільтрів розташована поруч із полем пошуку. Зроби запит точнішим, вказавши
                        національну кухню, яка тебе цікавить, діапазон цін, пропозиції зі знижками, рейтинг тощо.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseSeventeen"
                            aria-expanded="false" aria-controls="flush-collapseSeventeen">
                        Чи можу я замовляти з декількох ресторанів водночас?
                    </button>
                </h2>
                <div id="flush-collapseSeventeen" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        За допомогою додатку Bolt Food ти можеш робити кілька замовлень одночасно. Після замовлення
                        в одному ресторані чи магазині, ти можеш замовити щось в іншому. Зверни увагу: товари з
                        різних ресторанів чи магазинів неможливо додати в один кошик.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseEighteen"
                            aria-expanded="false" aria-controls="flush-collapseEighteen">
                        Як я отримаю оновлення щодо статусу мого замовлення?
                    </button>
                </h2>
                <div id="flush-collapseEighteen" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Відслідковуйте своє замовлення в режимі реального часу через додаток. Ми надсилаємо
                        сповіщення про зміну статусу на кожному етапі, тож ти будеш в курсі, де знаходиться
                        твоє замовлення!
                    </div>
                </div>
            </div>
        </div>
    </div>