{% load static %}

<div class="fourth-section">
        <div class="fourth-section-info-container">
            <h4 class="container-title">
                Обирай, замовляй та відстежуй доставку у додатку
            </h4>
            <ol class="fourth-ol">
                <li class="fourth-li">
                    <h4>Відкрий для себе місцеві ресторани</h4>
                    <p id="first-p">
                        Відкрий для себе страви з різних куточків світу - у нас ти
                        знайдеш як популярні ресторани, так і приховані перлини
                    </p>
                </li>
                <li class="fourth-li">
                    <h4>
                        Замовляй та сплачуй з легкістю
                    </h4>
                    <p id="second-p">
                        Декілька кліків, і готово! Замовляй у пару кліків та сплачуй зручним способом
                        - готівкою, карткою або за допомогою балансу Bolt.
                    </p>
                </li>
                <li class="fourth-li">
                    <h4>
                        Відстежуй своє замовлення
                    </h4>
                    <p id="third-p">
                        Спостерігай за своїм замовленням від приготування до самих дверей. Отримуй
                        сповіщення про зміну статусу на кожному етапі
                    </p>
                </li>
            </ol>
        </div>
        <a href="#" class="btn order-food-btn">
            Замовляйте їжу онлайн
        </a>
        <div class="fourth-section-image-container">
            <img class="app-image" src="{% static 'index_page/src/image.webp' %}">
        </div>
    </div>