{% load static %}

<div class="second-section">
    <div class="info-content">
        <h1>Заробляйте гроші, доставляючи їжу</h1>
        <ol class="info-ul">
            <li class="info-li">
                <h4>Отримуй дохід без зайвих турбот!</h4>
                <p id="first-p">Реєструйтесь безплатно та отримйте щотижневі виплати без прихованих комісій</p>
            </li>
            <li class="info-li">
                <h4>Доставляйте, коли хочете</h4>
                <p id="second-p">
                    Вирішуйте самі, коли і як часто доставляти: у будні або вихідні, зранку або ввечері -
                    все залежить тільки від вашого бажання
                </p>
            </li>
            <li class="info-li">
                <h4>Доставляй як завгодно</h4>
                <p id="third-p">
                    На велосипеді, самокаті чи автомобілі - тільки ви обираєте, як здійснювати доставку!
                </p>
            </li>
        </ol>
        <a href="{% url 'courier_main' %}" class="learn-more">
            Дізнатись більше
        </a>
    </div>
    <div class="image-content">
        <img class="courier-image" alt="Courier" src="{% static 'index_page/src/courier.webp' %}">
    </div>
</div>