<header class="second-header">
    <div class="title">
        <h3>Доставка Bolt Food</h3>
    </div>
    <div class="additional_info">
        <a href="#" class="menu-btn second_view" id="view_btn">
            Огляд
        </a>
        <a href="#" class="menu-btn second_become_courier">
            Стати кур'єром
        </a>
        <a href="#" class="menu-btn add_store">
            Додати ресторан чи крамницю
        </a>
        <a href="#" class="menu-btn give_app" id="give_app">
            Отримати додаток
        </a>
    </div>
</header>