{% load static %}

<div class="third-section">
    <div class="image-container" id="third-image-container">
        <img class="bolt-food-bag" src="{% static 'index_page/src/bolt-food-bag.webp' %}">
    </div>
    <div class="info-container" id="third-info-container">
        <h4 class="title-ul">Збільште свої продажі</h4>
        <ol class="increase your sells">
            <li id="first-li">
                <h4>Збільшіть ваші доходи</h4>
                <p>
                    Мільйони користувачів платформи замовляють
                    їжу в один клік у наших партнерів -
                    станьте одним із них! Bolt Food гарантує
                    зростання клієнтської бази та продажів
                </p>
            </li>
            <li id="second-li">
                <h4>Отримайте цінні бізнес-інсайти</h4>
                <p>
                    Дослідіть дані про продажі, рейтинги та
                    замовлення на платформі. Динаміка ефективності
                    вашого профілю допоможе зробити корисні висновки
                    для розвитку бізнесу
                </p>
            </li>
            <li id="third-li">
                <h4>Ми подбаємо про доставку</h4>
                <p>
                    Ми подбаємо про логістику, а зосередьтесь на
                    управлінні своїм бізнесом
                </p>
            </li>
        </ol>
        <a href="{% url 'become_partner' %}" class="btn third-learn-more">
            Дізнатись більше
        </a>
    </div>
</div>