{% load static %}

<section class="help-section" id="second-section">
    <p class="section-desc">
        Вітаємо!
    </p>
    <p class="section-desc">
        Цей сайт було створено, щоб ви могли простіше знайти найважливішу інформацію про доставку
        з Bolt Food 🍔
    </p>
    <div class="sections-container">
        <div class="step">
            <img class="step-img"
                 src="{% static 'courier/media/bolt-first-step.png' %}"
                 width="250"
                 height="300">
            <a href="#">Користування платформою Bolt Food</a>
        </div>
        <div class="step">
            <img class="step-img"
                 src="{% static 'courier/media/bolt-second-step.png' %}"
                 width="250"
                 height="300">
            <a href="#">Коефіцієнти та дохід</a>
        </div>
        <div class="step">
            <img class="step-img"
                 src="https://lh6.googleusercontent.com/YktzTKS4dNeufT41wTdk1qU6BZP9ehH_P3zHcrXvZ-jj1fdMSHm2sCg6usi9ubKZtoP5uA9Pv0VnWJaiq1Rhg5zsm2kTk5KU44147Z4AknA1IRc5XbWOkCr14oJAH8u2_A=w1280"
                 width="250"
                 height="300">
            <a href="#">Готівкові замовлення</a>
        </div>
        <div class="step">
            <img class="step-img"
                 src="{% static 'courier/media/bolt-fourth-step.png' %}"
                 width="250"
                 height="300">
            <a href="#">Отримання сумки</a>
        </div>
    </div>
</section>