{% load static %}

<section class="scooter_section" id="fifth-section">
    <div class="text-container">
        <h1>
            Звіт про безпеку електросамокатів Bolt за 2022 рік
        </h1>
        <p>
            У 2020-2021 роках кількість аварій на електросамокатах
            Bolt на 1 мільйон кілометрів знизилась на 12%, а кількість
            травм на 1 мільйон кілометрів - на 26%
        </p>
        <p>
            Прочитай повний звіт, щоб дізнатись більше про ключові розробки безпеки
            електросамокатів та слідкуй за оновленнями, щоб не пропустити наступний звіт.
        </p>
        <a href="#">Ознайомитись з повним звітом ↗</a>
    </div>
    <div class="image-container">
        <img width="400"
             src="{% static 'scooters/media/scooter-safety-lab-fifth-section.webp' %}">
    </div>
</section>