{% load static %}

<section class="scooter_section" id="fourth-section">
    <div class="image-container">
        <img width="400"
             src="{% static 'scooters/media/scooter-safety-lab-fourth-section.webp' %}">
    </div>
    <div class="text-container">
        <h1>Декларація щодо безпеки самокатів Bolt</h1>
        <p>
            Як справжній партнер міст, ми зобов'язуємось дотримуватись зазначених
            принципів в глобальній діяльності Bolt у сфері електросамокатів.
            Наша мета - допомагати містам у запобіганні летальним випадкам чи
            серйозним травмам серед учасників дорожнього руху.
        </p>
        <a href="https://assets.ctfassets.net/tk7rwcciwvbq/5K37rL8Hpbw1lS5klFoda/0227df891868672a986f068fac037bce/Bolt_Scooter_Safety_Pledge.pdf">
            Дізнатися більше ↗
        </a>
    </div>
</section>