{% load static %}

<section class="scooter_section" id="third-section">
    <div class="image-container">
        <img width="350"
             src="{% static 'scooters/media/scooter-safety-lab-third-section.webp' %}"
        >
    </div>
    <div class="text-container">
        <p>
            Дані та дослідження є важливими для розробки нових інструментів, які
            забезпечують максимальну безпеку водіїв та інших учасників дорожнього руху:
            від наших Інструментів безпеки для самокатів до наших функцій запобігання
            їзді в нетверезому стані та в тандемі.
        </p>
        <p>
            За допомогою Лабораторії безпеки Bolt ми раді поділитись своїми напрацюваннями
            з містами та підтримати їх у розробці безпечних, екологічних рішень у сфері
            мікромобільності.
        </p>
        <small>
            Маркус Вілліг, засновник Bolt та генеральний директор
        </small>
    </div>
</section>