{% extends './base_template.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'driver/css/verification_page.css' %}">
    <link rel="stylesheet" href="{% static 'driver/css/registration_first_page.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}

{% block js_additional %}
    <script src="{% static 'driver/js/registration_first_page/show_and_hide_checkbox.js' %}"></script>
    <script src="{% static 'driver/js/registration_first_page/show_and_hide_select_car_model.js' %}"></script>
    <script src="{% static 'driver/js/registration_first_page/hide_or_show_xmarks.js' %}"></script>
{% endblock %}

{% block body %}
    {% include './_includes/verification_page/header.html' %}
    <section id="registration-form-section">
        <div class="image-container">
            <img class="progress-indicator"
                 width="350"
                 src="{% static 'driver/media/registration_first.jpg' %}">
        </div>
        <div class="info-section">
            <img src="https://signup.bolt.eu/driver/check-mark.bb80ee32.svg" alt="Info"
                 width="24" height="24">
            <h6>Ваш обліковий запис було створено</h6>
            <p>
                Радимо продовжити реєстрацію через додаток Bolt Driver.
                Використайте ваш номер телефону, щоб увійти.
            </p>
        </div>
        <h1 class="section-title">
            Особиста інформація та дані про авто
        </h1>
        <p class="section-desc">
            Під час замовлення клієнт бачить лише ваше ім'я та дані про авто
        </p>
        <form class="car-info-form" method="post">
            {% csrf_token %}
            <p>
                <b>Маєте кілька ТЗ?</b>
            </p>
            <p class="href-p">
                <a href="#">Реєструйтесь як власник автопарку →</a>
            </p>
            {% for field in form %}
                {% if forloop.counter == 4 or forloop.counter == 5 %}
                    <div class="field-group checkbox">
                        {{ field }}
                        {% if forloop.counter == 4 %}
                            <label class="checkbox-label" id="first-checkbox">{{ field.label }}</label>
                        {% else %}
                            <label class="checkbox-label" id="second-checkbox">{{ field.label }}</label>
                        {% endif %}
                        {{ field.errors }}
                    </div>
                {% else %}
                    <div class="field-group">
                        {% if forloop.counter > 5 %}
                            <label class="after-checkboxes">{{ field.label }}</label>
                        {% else %}
                            <label>{{ field.label }}</label>
                        {% endif %}
                        <div class="input-with-icon">
                            {{ field }}
                            {% if forloop.counter == 6 or forloop.counter == 7 or forloop.counter == 8 or forloop.counter == 10 %}
                                <span class="xmark-span">
                                    <i class="fa-solid fa-xmark" style="color: #ababab;"></i>
                                    {% if forloop.counter == 7 %}
                                        <small class="input-pipe" id="car-model-field-pipe">|</small>
                                    {% else %}
                                        <small class="input-pipe">|</small>
                                    {% endif %}

                                </span>
                            {% endif %}
                            {% if forloop.counter == 3 %}
                                <small>Реферальний код вводити тут</small>
                            {% elif forloop.counter == 7 or forloop.counter == 6 %}
                                <small class="not-found-car-model">
                                    Якщо ви не знаходите модель вашого ТЗ у списку - дайте нам знати,
                                    напишіть на info@bolt.eu.
                                </small>
                            {% endif %}
                            {{ field.errors }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <center>
                <button type="submit" class="next-step">Далі</button>
            </center>
        </form>
    </section>
{% endblock %}
