{% extends './base_template.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'driver/css/verification_page.css' %}">
    <link rel="stylesheet" href="{% static 'driver/css/registration_second_page.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}

{% block js_additional %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
    <script src="{% static 'driver/js/registration_second_page/custom_file_downloader.js' %}"></script>
    <script src="{% static 'driver/js/registration_second_page/file_worker.js' %}"></script>
    <script src="{% static 'driver/js/registration_second_page/check_input_date.js' %}"></script>
    <script src="{% static 'driver/js/registration_second_page/choose_other_file.js' %}"></script>
    <script src="{% static 'driver/js/registration_second_page/handle_submit_button_click.js' %}"></script>
{% endblock %}

{% block body %}
    {% include './_includes/verification_page/header.html' %}
    <section id="registration-second">
        <div class="image-container">
            <img class="progress-indicator"
                 width="350"
                 src="{% static 'driver/media/registration_second.jpg' %}">
        </div>
        <div class="info-section">
            <h1 class="section-title">
                Завантаження документів
            </h1>
            <p class="section-description">
                Допускаються проскановані документи або їх якісні фото.
            </p>
        </div>
        {% include './_includes/registration_second_page/download_file_form.html' %}
    </section>
    {% include './_includes/verification_page/footer.html' %}
{% endblock %}