{% load static %}

<section class="help_section" id="eleventh-section">
    <div class="text-container">
        <p>
            ⚠️Будь ласка, не забувайте зазначати
            <b>
                повну вартість доставки, враз з копійками
            </b>
            при підтвердженні суми, отриманої від замовника.
        </p>
        <p>
            Деякі з кур'єрів із Android-смартфонами можуть зіштовхнутися із
            труднощами при введені отриманої суми готівки, якщо вона містить
            копійки.
        </p>
        <p>
            📲 Якщо на вашому смартфоні є така проблема, ви можете вимкнути
            опцію
            <span>
                    "Використовувати цифри для введення суми готівки"
                </span>
            у розділі
            <span>"Додаткові налаштування"</span>.
        </p>
    </div>
    <div class="image-container">
        <img class="section-image"
             src="{% static 'courier/media/delivery-cash-orders-eleventh-section.png' %}"
             width="400">
    </div>
</section>