{% load static %}

<section class="help_section" id="fifth-section">
    <h3>Процес доставки готівкового замовлення</h3>
    <div class="container">
        <div class="text-container">
            <ol>
                <li>
                    Заберіть замовлення у закладі як зазвичай
                </li>
                <li>
                    Підтвердіть, що ви приїхали до клієнта
                </li>
                <li>
                    Натисніть "Отримано від клієнта..."
                </li>
                <li>
                    Отримайте гроші від клієнта
                </li>
                <li>
                    Введіть точну суму отриманої готівки та натисніть "Підтвердити"
                </li>
                <li>
                    Ще раз перевірте введену суму
                </li>
                <li>
                    Тепер ви можете відмітити "Доставити замовлення" і завершити доставку як зазвичай
                </li>
            </ol>
            <p class="attention-text">
                ⚠️ВАЖЛИВО! Ви можете видати замовлення клієнту тільки після того, як
                отримали оплату за нього.
            </p>
        </div>
        <div class="image-container">
            <img class="section-img"
                 src="{% static 'courier/media/delivery-cash-order-fifth-section.png' %}"
                 width="400">
        </div>
    </div>
</section>