{% load static %}

<section class="help_section" id="fourth-section">
    <h3 class="section-title">
        Коли очікувати готівку від клієнта?
    </h3>
    <div class="container">
        <div class="text-container">
            <p>
                <b>
                    Ви помітите, що треба прийняти <i class="green-text">готівкове замовлення</i> коли:
                </b>
            </p>
            <ul>
                <li>
                    Внизу екрану навігації з'явиться жовтий блок
                </li>
            </ul>
            <p class="green-text">
                <b>А також:</b>
            </p>
            <ul>
                <li>
                    Відмітка "Отримати Х грн від клієнта" з'явиться у деталях замовлення
                </li>
            </ul>
        </div>
        <div class="image-container">
            <img class="section-img"
                 src="{% static 'courier/media/delivery-cash-order-fourth-section.png' %}"
                 width="400">
        </div>
    </div>
</section>