<section class="help_section" id="ninth-section">
    <h1 class="attention-title">
        Якщо замовник дав вам менше грошей:
    </h1>
    <ol>
        <li>
            Чітко <b>запитайте, чи це не помилка</b>, і запропонуйте перевірити
            додаток на предмет очікуваної суми до сплати
        </li>
        <li>
            Якщо замовник наполягає і в нього:
        </li>
        <ul>
            <li>
                <b>бракує до 50₴</b>,ви можете видати замовлення, увівши меншу суму.
            </li>
            <li>
                <b>бракує більше 50₴</b>, або взагалі відсутні кошти для сплати -
                не видавайте замовлення і зв'яжіться із службою підтримки.
            </li>
        </ul>
    </ol>
    <h1 class="attention-title">
        Якщо замовник недоступний:
    </h1>
    <p>
        Дотримуйтесь загальної політики, намагаючись зв'язатись з ним тричі та зв'язатись
        зі службою підтримки Bolt Food
    </p>
</section>