<section class="help_section" id="second-section">
    <div class="center-title">
        <h3 class="section-title">
            Дотримуйтесь вказівок у додатку!
        </h3>
        <p>
            Вся інформація щодо доставки готівкових замовлень буде у додатку.
        </p>
        <p>
            За необхідності завжди можете звернутись до нашої Служби підтримки
        </p>
    </div>
    <p class="attention-p">
        ⚠️<u>Не можна витрачати цю готівку</u> - майте її при собі під час доставок та тримайте її окремо
        від особистих грошей.
    </p>
</section>