<section class="help_section" id="seventh-section">
    <div class="steps-container">
        <div class="step">
            <span class="number-step">1</span>
            <div class="title-container">
                <p class="step-title">
                    У вас є решта
                </p>
                <p>
                    Візьміть готівку, видайте клієнту решту і введіть у додаток точну суму замовлення
                    (а не ту суму, що ви отримали)
                </p>
            </div>
        </div>
        <div class="step">
            <span class="number-step">2</span>
            <div class="title-container">
                <p class="step-title">
                    Якщо клієнт хоче залишити вам чайові
                </p>
                <p>
                    Візьміть готівку, видайте клієнту решту і введіть у додатку точну суму замовлення
                    (а не ту суму, що ви отримали)
                </p>
            </div>
        </div>
    </div>
    <p class="alarm-title">
        ⚠️Замовники знають, що у вас може не бути решти. Це прописано у додатку для клієнтів, проте,
        будь ласка, беріть із собою достатню кількість дрібних грошей
    </p>
</section>