<section class="help_section" id="thirteenth-section">
    <p>
            <span>
                Завжди спочатку отримуйте кошти за замовлення
            </span>
        від клієнта,
        <span>
                і тільки потім підтверджуйте
            </span>
        отриману суму. Після цього, передайте замовлення.
    </p>
    <p>
        ⚠️У разі непорозумінь уникайте сварок із клієнтами та зверніться у службу підтримки
    </p>
    <p>
        ⚠️Після затвердження отриманої суми ви не зможете змінити її без допомоги служби підтримки
    </p>
</section>