{% load static %}

<section class="help_section" id="sixth-section">
    <div class="container">
        <div class="image-container">
            <img class="section-img"
                 src="{% static 'courier/media/kyiv-delivery-page-sixth-section.png' %}"
                 width="450">
        </div>
        <div class="text-container">
            <p>
                У зоні Вишневе, Петропавлівська та Софіївська Борщагівка
                <b>"база" для доставок із ресторанів становить 35₴.</b>
                Бонусний коефіцієнт застосовується як зазвичай
            </p>
        </div>
    </div>
    <div class="rest-content">
        <ul>
            <li>
                Інформація про актуальні коефіцієнти публікуються у
                <a href="#">нашому телеграм-каналі</a> кожного тижня.
            </li>
            <li>
                Дистанція до клієнта визначається як найкоротший маршрут на Google Maps.
            </li>
            <li>
                До виконаного замовлення буде застосовано коефіцієнт зони,
                <b>який був активним на момент його прийняття.</b>
            </li>
            <li>
                До замовлення застосовується <b>
                коефіцієнт зони, в якій знаходиться заклад
            </b>
            </li>
        </ul>
    </div>
</section>