<section class="help_section" id="third-section">
    <div class="gray-background">
        <div class="container">
            <h3>
                <span>25 грн </span>
                * активний коефіцієнт
            </h3>
            <center><small>База</small></center>
        </div>
        <div class="container">
            <h3>
                <span>7 грн/км </span>
                * активний коефіцієнт
            </h3>
            <center><small>Плата за км від ресторану до клієнта</small></center>
        </div>
    </div>
    <div class="white-background">
        <p>
            З 25 вересня 2023 року <b>розрахунок доходу</b>
            за замовлення буде відбуватись відповідно
            <b>до зон, в яких знаходяться заклади.</b>
        </p>
        <p>
            Зони міста позначено кольорами на карті(синій, рожевий, жовтий) -
            за цими кольорами ви можете в таблицях далі дізнатись, які
            коефіцієнти діють у відповідних зонах.
        </p>
    </div>
</section>