.active-section {
    background: white;

}

.popup .popup-body .left-section {
    width: 75%;
    background: #EBEBEB;
    padding-top: 0.5%;
    padding-bottom: 0.1%;
    border-radius: 10px;
}

.popup .popup-body .left-section .header {
    list-style-type: none;
    display: flex;
}

.popup .popup-body .left-section .header li {
    margin-right: 2%;
    font-weight: 600;
    padding-top: 2%;
    padding-bottom: 2%;
    cursor: pointer;
    border-radius: 10px;
}


.popup .popup-body .left-section .header #second {
    width: 20%;
    margin-right: -1%;
}

.popup .popup-body .left-section .header li a {
    padding: 10%;
    border-radius: 10px;
}

.popup .popup-body .left-section .header li a:hover {
    background: white;
}

.popup .popup-body .left-section .header li #second-a {
    padding: 3.5%;
}


.popup-body .left-section .popup-main-container .ul-row {
    display: flex;
    margin-top: 4%;
    padding-left: 2%;
}

.popup-main-container .ul-row .ul:nth-child(1) {
    margin-right: 4%;
    margin-left: 1.8%;
}

.popup-main-container .ul-row .ul .ul-title {
    font-weight: 700;
    width: 70%;
}


.popup-main-container .ul-row .ul ul {
    list-style-type: none;
    width: 95%;
    font-size: 0.9rem;
    font-weight: 500;
}

.popup-main-container .ul-row .ul ul li {
    margin-left: -10%;
    width: 100%;
    margin-bottom: 7%;
    padding: 1% 5%;
    border-radius: 5px;
    cursor: pointer;
}

.popup-main-container .ul-row .ul ul li:hover {
    background: #DADADA;
    font-weight: 600;
}

.popup-main-container .ul-row .ul ul li i {
    display: none;
}

.popup-main-container .ul-row .ul #first-ul li{
    margin-left: -26%;
    width: 120%;
}

.popup-main-container .ul-row .ul #second-ul li{
    margin-left: -17%;
}

.popup-main-container .ul-row .ul #last-ul li{
    margin-left: -20%;
}

.popup-main-container .ul-row #car-sharing {
    margin-left: -9%;
}

.popup-main-container .ul-row .ul #delivery li{
    margin-left: -19%;
}

.popup-main-container .ul-row .ul #sharing li {
    margin-left: -18%;
}

.popup-main-container .ul-row .ul #business li {
    margin-left: -18%;
}

.popup-main-container .ul-row .ul #electro-bike li {
    margin-left: -17%;
}

.popup-main-container .ul-row #bolt-plus-container {
    margin-left: -10%;
}

.popup-main-container .ul-row .ul #bolt-plus li {
    margin-left: -25%;
}

#drivers-1 li,
#drivers-2 li,
#drivers-5 li {
    margin-left: -24%;
}

#drivers-3 li {
    margin-left: -18%;
}

#drivers-4 li {
    margin-left: -16%;
}

#company-1 li{
    margin-left: -40%;
}

#company-2 li {
    margin-left: -23%;
}

#company-3 li {
    margin-left: -18%;
}

#press {
    margin-left: -35%;
}

#company-4 {
    margin-left: -35%;
}

#company-4 li {
    margin-left: -20%;
}

#get_pay_with_bolt,
#company,
#safety,
#support,
#cities {
    display: none;
}