{% load static %}

<section class="help-section" id="fifth-section">
    <div class="text-content">
        <p class="menu-point">
            ➢ Внесіть особисті дані (ім'я, номер телефону, електронну пошту)
        </p>
        <p class="menu-point">
            ⚠️Ваше ім'я має точно співпадати з іменем на документах!
        </p>
        <p class="menu-point">
            ➢ Оберіть місто, в якому будете працювати
        </p>
        <p class="menu-point">
            ⚠️Ви маєте бути не молодше 18 років
        </p>
        <p class="menu-point">
            ➢ Надавайте чіткі та високоякісні фото ваших документів та виписку про банківський рахунок
        </p>
    </div>
    <div class="image-content">
        <img class="section-img"
             src="{% static 'courier/media/page-info-rules-img.png' %}"
             width="350">
    </div>
</section>