{% load static %}

<img width="350" height="300"
src="{% static 'business/media/bolt-business-email.png' %}">
<div class="container">
    <h4>Останній крок для завершення реєстрації!</h4>
    <p class="email-p">
        Дякуємо, що обрали нас!
    </p>
    <p class="email-p">
        Для закінчення реєстрації, будь ласка, підтвердіть вашу електронну адресу,
        перейшовши за посиланням нижче
    </p>
    <a href="#" class="email-btn">Перейти за посиланням</a>
    <p class="email-p">
        Ви можете почати налаштовувати обліковий запис вашої команди на Бізнес-порталі
        Bolt Business. Якщо у вас немає часу на це зараз, не хвилюйтесь, ми нагадаємо вам пізніше.
    </p>
    <p class="email-p">
        Якщо вам потрібна допомога, перегляньте наші статті або зв'яжіться з нами
        за адресою <a href="mailto:info@bolt-business.com">info@bolt-business.com</a> -
        ми будемо раді допомогти.
    </p>
    <p class="email-p">
        Раді вітати вас!
    </p>
    <p class="email-p">
        Команда Bolt Business
    </p>
</div>
