
#third-section .text-content img {
    width: 100%;
    border-radius: 10px;
}

#third-section .text-content .text-container {
    padding-left: 5px;
    padding-top: 200px;
}

#third-section .text-content .text-container svg {
    height: 30%;
    width: 30%;
    color: #2eb565;
}

#third-section .text-content .quote-text {
    font-size: 1.4rem;
    margin-top: -70px;
    margin-left: 80px;
}

#third-section .text-content .bold {
    font-size: 1.1rem;
    margin-top: 50px;
}

#fourth-section .info-container .page-title {
    font-weight: bold;
    font-size: 2.1rem;
    margin-bottom: 20px;
    width: 70%;
}