.add-section {
    padding: 30px;
    width: 80%;
    background: #2eb565;
    margin-left: 10%;
    border-radius: 15px;
    display: flex;
    position: relative;
    height: 400px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 50px;
}

.add-section .info-page-content {
    flex: 1;
}

.add-section .info-page-content .section-title {
    font-size: 3.1rem;
    color: white;
    font-weight: 600;
}

.add-section .info-page-content .section-additional-info {
    color: white;
    font-size: 1.5rem;
}

.add-section .image-page-content {
    flex: 1;
}

.add-section .image-page-content img {
    height: 109%;
    width: 60%;
    margin-left: 90px;
    border-bottom: -200px;
