{% load static %}

<section class="help-section" id="mono-section">
    <div class="title-section">
        <h1 class="section-title">
            Монобанк
        </h1>
    </div>
    <div class="step-section">
        <div class="step" id="first-step">
            <h1>1.</h1>
            <img class="step-img"
                 src="{% static 'courier/media/mono-first-step.png' %}"
                 width="275"
                 alt="First Mono Bank app screen">
        </div>
        <div class="step" id="second-step">
            <h1>2.</h1>
            <img class="step-img"
                 src="{% static 'courier/media/mono-second-step.png' %}"
                 width="275"
                 alt="Second Mono Bank app screen">
        </div>
        <div class="step" id="third-step">
            <h1>3.</h1>
            <img class="step-img"
                 src="{% static 'courier/media/mono-screen.png' %}"
                 width="275"
                 alt="Third Mono Bank app screen">
        </div>
        <div class="step" id="fourth-step">
            <h1>4.</h1>
            <img class="step-img"
                 src="https://lh5.googleusercontent.com/K2VFcsoqOUsHai4AuVSg4oyyswbEzDNo1Cd_4HTqvewgvUX7mhpsJowba-3CWuXuDS_j5KqkdM586arJ1Z9R6o1B7SJz8lGQ8Cceee8KlOSOLAsx2DiRb37K9Zm74c24xg=w1280"
                 width="275"
                 alt="Fourth Mono Bank app screen">
        </div>
        <div class="step" id="fifth-step">
            <h1>5.</h1>
            <img class="step-img"
                 src="https://lh5.googleusercontent.com/n_3DJ1WwuPTouLBoXD_lYURBy5dOWmsZd4H0T805GNOawryDfmlxh7syl4Bv9qJsRaQphEu-_CdR37uQwkl3V4m5zU6W1uO-F1-RMplKLaJAyokNZMbsBrw7bOq2DWKoaw=w1280"
                 width="275"
                 alt="Fifth Mono Bank app screen">
        </div>
    </div>
</section>