{% load static %}

<section class="page-section" id="privat-section">
    <div class="info-section">
        <h1>
            ПриватБанк
        </h1>
    </div>
    <div class="steps-section">
        <div class="step" id="first-step">
            <h1>1.</h1>
            <img class="step-img"
                 src="{% static 'courier/media/privat-first-step.jpg' %}"
                 width="375">
        </div>
        <div class="step" id="second-step">
            <h1>2.</h1>
            <img class="step-img"
                 src="{% static 'courier/media/privat-second-step.png' %}"
                 width="375">
        </div>
        <div class="step" id="third-step">
            <h1>3.</h1>
            <img class="step-img"
                 src="https://lh4.googleusercontent.com/CXjBxbKUfJ99lcN6c9MlD9Git-iKoyJOk7yyD3dvLu3gkSqoED_J7zaBiHYrCKGDvxmHf0oRq8Ek-hkm4oqGu2RkQyTvP41F8A76sl33-9HE1YyKu9KS0gKOxx9wkFjPrw=w1280"
                 width="375">
        </div>
        <div class="step" id="fourth-step">
            <h1>4.</h1>
            <img class="step-img"
                 src="{% static 'courier/media/privat-fourth-step.png' %}"
                 width="375">
        </div>
        <div class="step" id="fifth-step">
            <h1>5.</h1>
            <img class="step-img"
                 src="{% static 'courier/media/privat-fifth-step.png' %}"
                 width="375">
        </div>
        <div class="step" id="sixth-step">
            <h1>6.</h1>
            <img class="step-img"
                 src="{% static 'courier/media/privat-sixth-step.png' %}"
                 width="375">
        </div>
        <div class="step" id="seventh-step">
            <h1>7.</h1>
            <img class="step-img"
                 src="https://lh3.googleusercontent.com/OMfh6Qw133YoA5iI1Y5vzbtPYuT82xd_0eSRNo2aJKBLKVTuWKCES_rOV1r7r5xOw8BJR5ca6QPhzHG5wzfKjc-SB6ofeikGfzYDD5AE1jhuhNUawMdvs7GnGmw58cT4KQ=w1280"
                 width="375">
        </div>
        <div class="step" id="eighth-step">
            <h1>8.</h1>
            <img class="step-img"
                 src="https://lh3.googleusercontent.com/Tg59XR2xV_nPNKQy9NJzZFm-aXyTxNkG-lrf4RgENwqpFfXLvrhVLjYH_DiBrddiCKOsV_UT9YuPqi49ksKuNkjkWzeGzQnDF5h26GsUg1ANPsWpGUHlVFoa8jP-Aw6Xuw=w1280"
                 width="375">
        </div>
        <div class="step" id="ninth-step">
            <h1>9.</h1>
            <img class="step-img"
                 src="https://lh3.googleusercontent.com/VCn45tnyKs0JR8kyRYwWTMSyMrvbCl9CPybfcd0q4r6iDTsrL4eQbsM2lZ-RYeGTIKjgyYupSbyLvHQic6lLmbqHNau9Lmy06ItmG728qOoikCpoKwC8OqcuPHjAzRUsRw=w1280"
                 width="375">
        </div>
        <div class="step" id="tenth-step">
            <h1>10.</h1>
            <img class="step-img"
                 src="https://lh4.googleusercontent.com/8CzxocYvgj03kcClxWIqwPCjVaXF4T3tOENIz-PBGnr_ySrw760NHX9Oghghzs6kdY3ubPwojqw2Im2Sw1mkx4ZX6iwzUaIb17k3pnMyuErqd0Re47cEEejXnz24iBus7g=w1280"
                 width="375">
        </div>
    </div>
</section>