<section class="help_section" id="fifth-section">
    <div class="first-row row">
        <a href="{% url 'kyiv' %}" class="city-link first-row-btn">Київ</a>
        <a href="{% url 'lviv' %}" class="city-link first-row-btn">Львів</a>
        <a href="{% url 'dnipro' %}" class="city-link first-row-btn">Дніпро</a>
    </div>
    <div class="second-row row">
        <a href="{% url 'kharkiv' %}" class="city-link second-row-btn">Харків</a>
        <a href="{% url 'vinnytsia' %}" class="city-link second-row-btn">Вінниця</a>
        <a href="{% url 'odessa' %}" class="city-link second-row-btn">Одеса</a>
        <a href="{% url 'brovary' %}" class="city-link second-row-btn">Бровари</a>
    </div>
</section>