<section class="help_section" id="fifth-section">
    <div class="first-row row">
        <a href="#" class="city-link first-row-btn">Київ</a>
        <a href="#" class="city-link first-row-btn">Львів</a>
        <a href="#" class="city-link first-row-btn">Дніпро</a>
    </div>
    <div class="second-row row">
        <a href="#" class="city-link second-row-btn">Харків</a>
        <a href="#" class="city-link second-row-btn">Вінниця</a>
        <a href="#" class="city-link second-row-btn">Одеса</a>
        <a href="#" class="city-link second-row-btn">Бровари</a>
    </div>
</section>