<section class="help_section" id="third-section">
    <div class="gray-phone">
        <p>
            <b>
                Дохід за доставку
            </b>
            = (Базова ставка + Плата за дистанцію від ресторану до клієнта) * Погодинний коефіцієнт
            * Коефіцієнт півищеного попиту (якщо є).
        </p>
    </div>
    <div class="white-phone">
        <ul>
            <li>
                <b>Базова ставка</b> та <b>плата за дистанцію</b> до клієнта мають фіксовані
                значення в кожному місті. Ознайомитись з ними можна, якщо перейдете на інформацію
                про ваше місто нижче
            </li>
            <li>
                <b>Погодинні коефіцієнти</b>
                Публікуються в <a href="#">телеграм каналі вашого міста</a>
                щотижня
            </li>
            <li>
                <b>Коефіцієнт підвищеного попиту</b>
                активується системою додатково під час високого попиту і його можна буде
                побачити в додатку під час прийняття замовлень
            </li>
        </ul>
    </div>
    <div class="gray-phone">
        <p>
            <em><b>
                Приклад розрахунку доходу:
            </b></em>
        </p>
        <p>
            <em>
                Дохід за замовлення (14 грн база + 5грн/км множаться на коефіцієнт x2.8).
                В такому випадку дохід за середнє замовлення на 3км = <b>81.2грн</b>
            </em>
        </p>
        <p>
            <em>
                Фінальний дохід за замовлення
                <b>
                    (81.2 грн) множиться на коефіцієнт підвищеного попиту
                </b>
                (наприклад <b>x1.2</b>) - таким чином ваш фінальний дохід
                складатиме <b>97.4 грн</b>
            </em>
        </p>
    </div>
</section>