<section id="eleventh-section">
    <div class="header-container">
        <h2>
            Компенсація викидів та кліматичні заходи
        </h2>
    </div>
    <div class="text-container">
        <p>
            <b>
                Наразі Bolt має сертифікат CarbonNeutral® від Climate Impact Partners
                для сервісу корпоративних поїздок Bolt Business та сервісів мікромобільності
                (тобто наших електросамокатів та електровелосипедів)
            </b>
        </p>
        <p>
            Ми фінансуємо проєкти, перевірені Climate Impact Partners, щоб компенсувати викиди,
            які ми наразі не можемо скоротити або усунути. Раніше ми фінансували проєкти, пов'язані
            з вітроенергетикою, озелененням, покращенням водної інфраструктури, відновленням мангових
            заростей та ефективними кухонними плитами.
        </p>
        <p>
            Bolt також фінансує додаткові кліматичні проєкти, які допомагають боротися зі зміною
            клімату. У 2022 році ми співпрацювали з
            <a href="https://www.seedballskenya.com/">
                Seedballs Kenya ↗
            </a>, щоб поширити 25 тонн місцевого насіння (Seedbolts), що еквівалентно висадженню
            понад 11 мільйонів насінин дерев. Наші попередні проєкти включають проєкти з
            лісовідновлення з
            <a href="https://onetreeplanted.org/">
                OneTreePlanet ↗
            </a> в Португалії та Румунії.
        </p>
        <p>
            Bolt Technology OÜ та кілька дочірніх компаній акредитовані за стандартом ISO 14001:2015.
        </p>
    </div>
</section>