<section id="fifth-section">
    <div class="container">
        <div class="text-container">
            <div class="title">
                <div class="advert">
                    <h1 class="title"></h1>
                    <p class="desc"></p>
                </div>
                <div class="selector" role="progressbar"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     aria-valuenow="16.666666666666668"
                     aria-busy="true"
                     aria-labelledby="react-aria-:Rpi9l:"
                     aria-label="Slider completion rate in percentage">
                    <div class="busy-selector" style="width: 16.6667%;">
                        <p style="color: green;">.</p>
                    </div>
                </div>
                <div class="page-num"></div>
            </div>
        </div>
        <div class="image-container">
            <div class="carousel">
                <div class="images-container">

                </div>
            </div>
        </div>
        <a href="javascript: void(0);" class="change-slide-btn" id="prev-slide">
            <svg width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path
                        d="M10.2853 5.7032C10.6758 5.31268 10.6758 4.67951 10.2853 4.28899C9.89479 3.89846 9.26162 3.89846 8.87109 4.28899L2.59006 10.5817C1.80901 11.3627 1.80901 12.6291 2.59006 13.4101L8.87745 19.7055C9.26797 20.096 9.90115 20.096 10.2917 19.7055C10.6822 19.3149 10.6822 18.6818 10.2917 18.2912L5.00389 13H21C21.5523 13 22 12.5522 22 12C22 11.4477 21.5523 11 21 11H5.00389L10.2853 5.7032Z"
                        fill="currentColor">
                </path>
            </svg>
        </a>
        <a href="javascript: void(0);" class="change-slide-btn" id="next-slide">
            <svg width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M13.7108 18.2889C13.3203 18.6795 13.3203 19.3126 13.7108 19.7032C14.1013 20.0937 14.7345 20.0937 15.125 19.7032L21.4142 13.4141C22.1953 12.6331 22.1953 11.3668 21.4142 10.5857L15.1213 4.29289C14.7307 3.90237 14.0976 3.90237 13.707 4.29289C13.3165 4.68342 13.3165 5.31658 13.707 5.70711L19 10.9999L2.99756 10.9999C2.44527 10.9999 1.99756 11.4477 1.99756 11.9999C1.99756 12.5522 2.44527 13 2.99756 13L19 12.9999L13.7108 18.2889Z"
                      fill="currentColor">
                </path>
            </svg>
        </a>
    </div>
</section>