<section id="ninth-section">
    <div class="header-container">
        <h2>Зосередженість на сталому дизайні продуктів</h2>
    </div>
    <div class="text-container">
        <p>
            ~80% наших самокатів розроблені власними силами. Це дає нам кращий
            контроль над матеріалами, обслуговуванням та утилізацією.
        </p>
        <p>
            70% алюмінієвих деталей Bolt 6 походять з перероблених джерел, а
            очікуваний термін служби складає вісім років порівняно з п'ятьма роками у попередній
            моделі.
        </p>
        <p>
            Це означає менше часу на ремонт та заряджання, більше спільних поїздок на один самокат
            і, зрештою, менше викидів протягом життєвого циклу самоката.
        </p>
    </div>
</section>