<section id="second-section">
    <div class="container">
        <div class="header-container">
            <h1 class="section-title">
                Зелений план Bolt та наші екологічні цілі
            </h1>
        </div>
        <div class="desc-container">
            <p class="section-desc">
                У 2023 році ми взяли на себе зобов'язання досягти нульового рівня викидів вуглекислого газу
                до 2040 року, що зараз знаходяться в центрі Зеленого плану Bolt.
            </p>
        </div>
    </div>
</section>