<section id="seventh-section">
    <div class="header-container">
        <h3 class="section-title">
            Працює на відновлювальній електроенергії та економіці
            замкненого циклу
        </h3>
    </div>
    <div class="text-container">
        <p class="section-desc">
            Ми прагнемо використовувати 100% відновлювальної електроенергії
            на об'єктах, контрольованих Bolt, до кінця 2025 року.
        </p>
        <p class="section-desc">
            До 2030 року ми плануємо спрямовувати щонайменше 90% відходів,
            які ми виробляємо, назад до економіки замкненого циклу.
        </p>
    </div>
</section>