<section id="sixth-section">
    <div class="text-container">
        <p>
            Усі електросамокати та електровелосипеди Bolt - це
            транспортні засоби з нульовим рівнем викидів без вихлопної труби.
        </p>
        <p>
            Ми компенсуємо викиди, що утворюються під час виробництва, експлуатації,
            технічного обслуговування та утилізації цих транспортних засобів, за допомогою
            різних фінансових проектів, завдяки чому вони мають сертифікат CarbonNeutral®.
        </p>
    </div>
</section>