<section id="tenth-section">
    <h2 class="section-title">
        Заохочення сталого переходу на інші види транспорту
    </h2>
    <p>
        Наші
        <a href="https://bolt.eu/en/blog/case-study-reducing-congestion-and-emissions-with-electric-scooters/">
            пілотні програми ↗
        </a>
        в 10 європейських містах довели, що, якщо їх заохочувати, користувачі обиратимуть
        електросамокати або електровелосипеди замість автомобілів, якщо їхня запланована поїздка
        не перевищує 3 км.
    </p>
</section>