{% load static %}

<section id="thirteen-section">
    <div class="container">
        <div class="text-container">
            <h1 class="section-title">
                Хочеш вплинути на ситуацію?
            </h1>
            <p class="section-desc">
                Обираючи Bolt, ти робиш свій внесок у майбутнє транспорту.
            </p>
            <a href="#" id="download-btn">
                Завантажити додаток
            </a>
        </div>
        <div class="image-container">
            <img width="450" height="450"
                 src="{% static 'business/media/desktop.webp' %}"/>
        </div>
    </div>
</section>