{% load static %}

<section id="third-section">
    <div class="image-container">
        <img width="600" height="350"
             src="{% static 'business/media/environmental-goals-desktop.webp' %}"/>
    </div>
    <div class="text-container">
        <h4>Наші екологічні цілі:</h4>
        <ol>
            <li>
                <p>
                    <b>Нульові викиди вуглецю до 2040 року.</b>
                </p>
            </li>
            <li>
                <p>
                    <b>
                        100% відновлюваної електроенергії в контрольованих Bolt
                        офісах, складах, зарадних доках та приміщеннях Bolt Market
                        до 2025 року.
                    </b>
                </p>
            </li>
            <li>
                <p>
                    <b>
                        Спрямування 90% відходів до 2030 року в економіку замкненого циклу.
                    </b>
                </p>
            </li>
        </ol>
    </div>
</section>