{% load static %}

<section id="twelve-section">
    <div class="container">
        <div class="image-container">
            <img width="500" height="500"
                 src="{% static 'business/media/supplier-code-of-conduct-desktop.webp' %}" />
        </div>
        <div class="text-container">
            <h3 class="header-title">
                Сталість у наших ланцюгах постачання
            </h3>
            <p class="desc-title">
                Ми робимо все можливе, щоб наші постачальники прагнули
                створювати позитивний і сталий вплив на життя людей і навколишнє середовище.
                Всі наші постачальники повинні дотримуватися Кодексу поведінки постачальників
                Bolt. Він складається з 6 основних напрямків:
            </p>
            <ol>
                <li>
                    <b>
                        Права людини
                    </b>
                </li>
                <li>
                    <b>
                        Трудова практика
                    </b>
                </li>
                <li>
                    <b>
                        Здоров'я та безпека
                    </b>
                </li>
                <li>
                    <b>
                        Якість
                    </b>
                </li>
                <li>
                    <b>
                        Довкілля
                    </b>
                </li>
                <li>
                    <b>
                        Право аудиту
                    </b>
                </li>
            </ol>
        </div>
    </div>
</section>