<section class="help-section" id="second-section">
    <div class="center-container">
        <p>Вітаємо! 👋 </p>
    </div>
    <p>
        Запросіть друзів стати кур'єрами Bolt Food, поділившись з ними своїм реферальним кодом, та отримайте
        додатковий бонус.
    </p>
    <p>
        Коли ваш друг зареєструється кур'єром BoltFood та виконає <b>40 доставок</b> за перші <b>2 тижні</b>
        після реєстрації, ви обидва отримаєте бонус 👇
    </p>
    <div class="center-container">
        <p><b>500 грн</b>💰 для вас і <b>1000 грн</b>💰 для вашого друга!</p>
    </div>
    <p>
        Знайти свій реферальний код можна у розділі "Запросити друга" додатку Bolt Courier.
    </p>
    <p>
        Більше успішних реєстрацій за вашим кодом - більше можливостей отримати бонус!
    </p>
    <div class="small-text">
        <p>
            ❗️Важливо:
        </p>
        <ol>
            <li>
                Запросити за реферальною програмою для кур'єрів Bolt Food можна лише друзів, які не були раніше
                зареєстровані кур'єрами на платформі Bolt Food.
            </li>
            <li>
                Запрошений друг має зареєструватись через <a href="#">форму</a> та ввести при реєстрації
                ваш реферальний код у відповідне поле.
            </li>
        </ol>
    </div>
    <a href="https://docs.google.com/document/d/e/2PACX-1vQjiUzF1uGPH0xc3tZG3v3wuRAxCiWBno1h9s1BkE0FG-XKmu6Me9vY30trlrNVHpqWMW2ccPiybiyF/pub"
       class="btn-rules" target="_blank">Правила та умови</a>
</section>