{% load static %}

<div class="app-download">
    <div class="text-container">
        <h1>
            Замовляй за лічені секунди, виїжджай
            за декілька хвилин.
        </h1>
        <p>
            Доступно для iOS та Android.
        </p>
        <a href="#" class="advert-btn">Завантажити додаток</a>
    </div>
    <div class="image-container">
        <img class="container-img"
             width="500"
             src="{% static 'rider/media/app-download-section.webp' %}"
        >
    </div>
</div>