<section class="safety_section" id="faq_section">
    <h1>
        Запитання та відповіді щодо безпеки поїздок
    </h1>
    <div class="accordion">
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                    Як Bolt працює з відгуками клієнтів, пов'язаних з безпекою?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    Ми завжди намагаємось надавти якнайкращий сервіс для наших
                    користувачів. Наша команда підтримки готова 24/7, щоб
                    відреагувати на будь-які безпекові питання, що можуть
                    виникнути.
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                   Якими є вимоги до автомобілів?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    Усі авто повинні бути принаймні із 4-ма пасажирськими місцями, мати
                    справні паски безпеки та кондиціонер. Також є вимога до чистоти та технічної
                    справності транспортного засобу.
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                    Як розраховується рейтинг водія?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    Рейтинги водіїв розраховуються на основі ряду факторів, включно з
                    кількістю зірочок, що вони отримують від пасажирів, кількістю
                    отриманих скарг та загальною історію поїздок
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                    Що станеться, якщо я потраплю в аварію під час поїздки з Bolt?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    Спільно зі страховим сервісом Ensuria, та за пдтримки страхової
                    компанії UNIQA ми створили унікальну програму страхування
                    життя та здоров'я пасажирів. Якщо під час поїздки з Bolt
                    ти отримаєш травму, ти маєш право звернутися до компанії UNIQA
                    для відшкодування. У випадку ДТП, рекомендуємо негайно звернутись
                    до поліції та швидкої допомоги, а також сповістити нас про ситуацію
                    через додаток. Для отримання страхової виплати вам потрібно звертатись
                    за телефоном +380443900005, електронною адресою help@ensuria.com
                    чи Telegram бота @ensuriabot протягом 10 днів з моменту ДТП, що
                    трапилось унаслідок поїздки з водієм Bolt.
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                    Як часто самокати проходять огляд на предмет їх технічної справності
                    та безпеки?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    Ми проводимо щомісячне технічне обслуговування транспортних засобів,
                    щоб усі електросамокати залишались у належному стані. У випадку неприродного
                    зносу чи несправності ми негайно вилучаємо такий самокат із загального
                    доступу у нашому додатку, допоки наша команда не перевірить його.
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                    Що станеться, якщо я потраплю в аварію під час поїздки на самокаті?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    Bolt спільно зі страховим сервісом Ensuria, та за підтримки страхової компанії
                    UNIQA створили унікальну програму страхування життя і здоров'я користувачів
                    самокатів. Практично всі електросамокати Bolt мають подвійне страхування.
                    Перший тип покриває можливі травми особи та забезпечує її фінансову підтримку у
                    разі ДТП. Другий тип покриває пошкодження осіб, що можуть статись унаслідок використання
                    наших електросамокатів. Для отримання страхової виплати потрібно звертатись
                    за телефоном +380443900005, електронною адресою help@ensuria.com чи Telegram бота
                    ensuriabot протягом 3 днів з моменту ДТП, яка виникла унаслідок використання
                    електросамоката Bolt.
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                    Яке оснащення мають самокати Bolt для безпеки?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    Усі наші електросамокати мають передні та задні ліхтарики, дзвіночок
                    та гідравлічну підвіску задля плавності ходу
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                    Що робити, якщо я став свідком небезпечної їзди на самокаті?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    Якщо ти станеш свідком небезпечної їзди на самокаті, повідом нам про це,
                    зв'язавшись зі службою підтримки або через наш сайт. Ми вживаємо необхідних
                    заходів для розв'язання цієї проблеми
                </p>
            </div>
        </div>
    </div>
</section>