<section class="safety_section" id="fourth-section">
    <h1 class="section_title">
        Безпека до, під час та після твоєї поїздки
    </h1>
    <div class="steps">
        <div class="step">
            <div class="number-title">
                1
            </div>
            <h4>До</h4>
            <p>
                Перевір рейтинг та кількість поїздок водія після
                підтвердження поїздки. Порівняй обличчя водія,
                модель та реєстраційний номер автомобіля з
                інформацією в додатку. За потреби можеш
                зв'язатися з водієм через чат або зателефонувати
                йому через додаток. Ми турбуємось про твою
                конфіденційність, тож твій номер залишиться прихованим.
            </p>
        </div>
        <div class="step">
            <div class="number-title">
                2
            </div>
            <h4>Під час</h4>
            <p>
                Поділись деталями своєї поїздки з близькими,
                щоб вони знали твоє місцеперебування та орієнтовний
                час прибуття. Але якщо щось піде не так скористайся
                кнопкою "Екстренної допомоги" для зв'язку з
                профільними службами
            </p>
        </div>
        <div class="step">
            <div class="number-title">
                3
            </div>
            <h4>Після</h4>
            <p>
                Оціни свого водія чесно та виважено. Якщо середній
                рейтинг водія опуститься нижче порогового значення,
                його обліковий запис може бути заблоковано. У разі
                виникнення питань безпеки, звертайтесь до служби підтримки
                через додаток Bolt або за електронною адресою ukraine@bolt.eu.
                У випадку ДТП, рекомендуємо звернутись до поліції та
                швидкої допомоги, а також сповістити нас про ситуацію
                через додаток. Ти також маєш право звернутись до страхової
                компанії UNIQA для відшкодування.
            </p>
        </div>
    </div>
</section>