{% load static %}

<section class="rider_section" id="second-section">
    <div class="image-container">
        <img class="section-image"
             width="350"
             height="500"
             src="{% static 'rider/media/safety-second-section.webp' %}">
    </div>
    <div class="text-container">
        <h1 class="section_title">
            Кожна поїздка із спокоєм у душі
        </h1>
        <p>
            Завдяки нашим інноваційним рішенням та функціям ти
            можеш почуватись у безпеці, пересуваючись з Bolt.
        </p>
        <small>
            Наявність сервісів та функцій залежить від країни, у якій ти
            перебуваєш. Деякі перелічені нижче функції можуть бути недоступні
            у твоєму додатку
        </small>
    </div>
</section>