{% load static %}

<section class="help-section" id="fifth-section">
    <div class="text-container">
        <ul>
            <li>
                Ви забираєте замовлення із <b>двох місць</b> поруч та доставляєте їх двом клієнтам,
                розташованим неподалік один від одного.
            </li>
            <li>
                Подивитись <a href="#">відео</a>.
            </li>
        </ul>
        <p class="red-text">
            <em>Слідуйте Планеру доставок. Не обирайте маршрут самостійно!</em>
        </p>
    </div>
    <div class="image-container">
        <img class="section-img"
             src="{% static 'courier/media/delivery-group-page-third-section.png' %}"
             width="450"
        >
    </div>
</section>