<section class="help-section" id="sixth-section">
    <p>
        <b>
            Будь ласка, зв'яжіться зі <a href="#">службою підтримки</a>, якщо:
        </b>
    </p>
    <ul>
        <li>
            Перше замовлення затримується через затримку у ресторані/магазині
        </li>
        <li>
            У вас виникли будь-які технічні проблеми(з транспортом, телефоном і т.д.)
        </li>
        <li>
            Ви не маєте місця в сумці (перше або друге замовлення надто великі і їх неможливо доставляти разом).
        </li>
    </ul>
</section>