{% load static %}

<section class="help_section" id="fifth-section">
    <div class="image-container">
        <img class="section-image"
             src="{% static 'courier/media/add-balance-fifth-section.png' %}"
             width="200">
    </div>
    <div class="text-container">
        <p>
            <b>
                По досягненню суми балансу -800₴, ви більше не зможете отримувати
                замовлення за готівку та маєте
            </b>
            сплатити борг (за рахунок готівки, що у вас на руках) у терміналі або онлайн
            для того, щоб мати можливість надалі отримувати замовлення за готівку.
        </p>
        <p>
            ⚠️Ви можете внести отриману готівку і раніше, не обов'язково чекати досягнення
            ліміту -800₴, якщо, наприклад, термінал поруч з вами🙌
        </p>
        <p>
            Мапа терміналів доступна за посиланням:
            <a href="http://map.city24.kiev.ua/" target="_blank">
                http://map.city24.kiev.ua/
            </a>
        </p>
    </div>
</section>