{% load static %}

<section class="help_section" id="seventh-section">
    <div class="text-container">
        <p>
            <b>
                Щойно сума балансу стане менше 0, у розділі
                <span>
                        "Всі доставки"
                    </span>
                побачите поле
                <span>
                        "⚠️Сплатити борг".
                    </span>
            </b>
        </p>
        <p>
            Натисніть на нього, щоб перейти на сторінку з
            персональним ідентифікатором.
        </p>
        <p>
            Цей код вам необхідно ввести в терміналі для
            повернення отриманої готівки на баланс.
        </p>
    </div>
    <div class="image-container">
        <img class="section-image"
             src="{% static 'courier/media/add-balance-seventh-section.png' %}"
             width="300">
        <img class="section-image"
             src="{% static 'courier/media/add-balance-seventh-section(2).png' %}"
             width="300">
    </div>
</section>