{% load static %}

<section class="help_section" id="tenth-section">
    <div class="step">
        <img class="step-img"
             src="{% static 'courier/media/add-balance-tenth-section-1.png' %}"
             width="300">
        <h6>
            <span>Крок 1:</span><br>
            На головній сторінці терміналу натисніть "Пошук послуг" або розділ
            "Інше"
        </h6>
    </div>
    <div class="step">
        <img class="step-img"
             src="{% static 'courier/media/add-balance-tenth-section-2.png' %}"
             width="300">
        <h6>
                <span>
                    Крок 2:
                </span><br>
            Пошук послуг
        </h6>
    </div>
    <div class="step">
        <img class="step-img"
             src="{% static 'courier/media/add-balance-tenth-section-3.png' %}"
             width="300">
        <h6>
            <span>Крок 3:</span><br>
            У розділі інше оберіть послугу "Bolt Food"
        </h6>
    </div>
    <div class="step">
        <img class="step-img"
             src="{% static 'courier/media/add-balance-tenth-section-4.png' %}"
             width="300">
        <h6>
            <span>Крок 4:</span><br>
            Оберіть бажаний спосіб оплати. Доступні методи: готівка, QR-код, карта ОТП Банку/city24
        </h6>
    </div>
    <div class="step">
        <img class="step-img"
             src="{% static 'courier/media/add-balance-tenth-section-5.png' %}"
             width="300">
        <h6>
            <span>Крок 5:</span><br>
            Введіть персональний ідентифікатор і натисніть <span>"Далі"</span>
        </h6>
    </div>
    <div class="step">
        <img class="step-img"
             src="{% static 'courier/media/add-balance-tenth-section-6.png' %}"
             width="300">
        <h6>
            <span>Крок 6:</span><br>
            Введіть номер телефону, який використовується у вашому акаунті Bolt Courier та
            натисніть <span>"Далі"</span>
        </h6>
    </div>
    <div class="step">
        <img class="step-img"
             src="{% static 'courier/media/add-balance-tenth-section-7.png' %}"
             width="300">
        <h6>
            <span>Крок 7:</span><br>
            Перевірте ваші реквізити, якщо все правильно, натисніть <span>"Далі"</span>,
            щоб сплатити
        </h6>
    </div>
    <div class="step">
        <img class="step-img"
             src="{% static 'courier/media/add-balance-tenth-section-8.png' %}"
             width="300">
        <h6>
            <span>Крок 8:</span>
            Внесіть кошти для оплати<br><br>
            ⚠️Зверніть увагу на мінімальну та максимальну суму платежу.
        </h6>
    </div>
    <div class="step">
        <img class="step-img"
             src="{% static 'courier/media/add-balance-tenth-section-9.png' %}"
             width="300">
        <h6>
            <span>Екран успіху</span>
        </h6>
    </div>
</section>