{% load static %}

<section class="help_section" id="third-section">
    <div class="container">
        <div class="text-container">
            <p>
                Переглянути баланс та кількість отриманої готівки можна у розділі
                "Всі доставки"
            </p>
            <p>
                🙌 Немає нічого критичного в негативному балансі. Це просто вказує на те, що
                кур'єр має більше грошей, ніж становить його дохід за доставки.
            </p>
            <p class="green-title">
                Баланс збільшується, якщо:
            </p>
            <ul>
                <li>
                    Ви отримуєте дохід за доставку
                </li>
                <li>
                    Застосовується коригування та компенсації
                </li>
                <li>
                    Ви підвищуєте баланс через термінал або онлайн (за рахунок отриманої
                    від замовників готівки)
                </li>
            </ul>
            <p class="red-title">
                Баланс зменшується, якщо:
            </p>
            <ul>
                <li>
                    Ви отримуєте готівку від клієнта
                </li>
                <li>
                    Баланс виплачується тижневими виплатами
                </li>
                <li>
                    Застовуються коригування та вирахування
                </li>
            </ul>
        </div>
        <div class="image-container">
            <img class="section-img"
                 src="{% static 'courier/media/add-balance-third-section.png' %}"
                 width="400">
            <div class="explain-title">
                <p>
                    <b>
                            <span>
                                Поле "Готівка"
                            </span>
                        несе лише інформаційний характер та не впливає на ваш баланс, тому, будь ласка,
                        не змінюйте його 🙌
                    </b>
                </p>
                <p>
                    Це поле інформує вас про суму готівки, що ви отримали від клієнтів.
                </p>
            </div>
        </div>
    </div>
    <h3 class="section-title">
        Що відбувається з балансом, коли ви виконуєте замовлення за готівку?
    </h3>
    <ol>
        <li>
            Щойно ви завершите готівкове замовлення, ваш баланс збільшується на суму вашого доходу
            і замовлення з'являється у списку.
        </li>
        <li>
            Потім ваш баланс зменшується на суму вартості замовлення.
        </li>
    </ol>
    <p>
            <span>
                Наприклад:
            </span>
    </p>
    <p>
        <b>
            Вартість замовлення: 500 ₴<br>
            Дохід кур'єра: 75 ₴
        </b>
    </p>
    <p>
        <b>
            1 транзакція: +75 ₴<br>
            2 транзакція: -500 ₴
        </b>
    </p>
    <p class="gray-text">
        *Оновлення балансу може займати до 5-ти хвилин
    </p>
</section>