#eight-section {
    font-family: "Montserrat";
    margin-top: 8%;
    width: 80%;
    margin-left: 10%;
    padding-left: 7%;
    padding-top: 1%;
    padding-right: 7%;
    background: #2f313f;
    color: white;
    border-radius: 15px;
    margin-bottom: 10%;
}

#eight-section .container {
    display: flex;
}

#eight-section .container .text-container h1 {
    font-weight: 700;
    font-size: 2.2rem;
}

#eight-section .container .text-container p {
    font-weight: 500;
    margin-top: 5%;
    margin-bottom: 5%;
}

#eight-section .text-container ol {
    list-style-type: none;
    padding-left: 0;
}

#eight-section .text-container ol li {
    counter-increment: my-counter;
    margin-bottom: 3%;
    margin-left: -7%;
}

#eight-section .text-container ol li::before {
    content: counter(my-counter);
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    background: #32bb78;
    color: white;
    font-weight: 700;
}

#eight-section .text-container ol li p {
    display: inline;
    margin-left: 1%;
    text-align: right;
}

#eight-section .btn-section {
    margin-left: -6%;
    margin-top: 7%;
}

#eight-section .btn-section .section-btn {
    border: none;
    padding: 3% 6%;
    background: white;
    color: black;
    text-decoration: none;
    font-weight: 700;
    border-radius: 25px;
}

#eight-section #white-btn {
    margin-left: 5%;
}

#eight-section #white-btn:hover {
    background: #fafafb;
}

#eight-section #green-btn {
    background: #32bb78;
    color: white;
}

#eight-section #green-btn:hover {
    background: #1d965c;
}
