* {
    font-family: "Montserrat";
}

.content {
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: center;
}

.cancel-btn {
    display: inline-block;
    margin-left: 95%;
    font-weight: 600;
    text-decoration: none;
    color: black;
    padding: 1%;
    width: 5%;
    text-align: center;
    border-radius: 50px;
    background: #F5F5F5;
}

.cancel-btn:hover {
    background: #E9E9E9;
}

.policy-section {
     margin-top: 4%;
}

.policy-section h2 {
    font-weight: 700;
}

.policy-section p {
    font-weight: 500;
    color: gray;
    margin-top: 2%;
}

.form-container {
    margin-top: 3%;
    width: 90%;
}

form label {
    font-weight: 700;
    font-size: 0.9rem;
    margin-bottom: 1%;
}

form label span {
    font-weight: 500;
    color: gray;
}

.form-textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #F5F5F5;
    padding: 1%;
    resize: none;
    font-weight: 500;
}

form .field-group {
    margin-bottom: 2%;
}

form .form-control {
    height: 50px;
    border: none;
    background: #F5F5F5;
    padding: 1%;
    font-weight: 500;
    outline: none;
}

.rules-header {
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

.switch-field-group {
    border: 2px solid #F5F5F5;
    padding: 3%;
    margin-bottom: 1%;
    border-radius: 5px;
}

.form-check label {
    float: left;
    margin-left: -5%;
    font-size: 1.1rem;
}

.form-check input[type="checkbox"] {
    float: right;
    height: 30px;
    width: 60px;
    margin-top: -0.5%;
}

.form-check input[type="checkbox"],
.form-check label {
    display: inline-block;
}

.field-desc {
    font-weight: 500;
    color: gray;
    width: 100%;
    margin-top: 2%;
    margin-left: 1%;
    width: 90%;
}

.row-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 3%;
}

#remove-btn:hover,
#cancel-btn:hover{
    background: #F5F5F5;
}

.row-btn .policy-btn {
    text-decoration: none;
    color: black;
    font-weight: 700;
    background: #F2F2F2;
    border-radius: 25px;
    padding: 3%;
}

.row-btn #cancel-btn,
.row-btn #save-btn {
    padding: 4%;
    border: none;
}

.row-btn #cancel-btn {
    margin-left: -3%;
    padding: 3%;
}

.row-btn #save-btn {
    margin-left: 3%;
    padding: 3%;
    color: white;
    background: rgba(50, 187, 120, 0.8);
}

.row-btn #save-btn:hover {
    background: rgba(50, 187, 120, 1);
}

.left-container {
    flex: 1;
}

.right-container {
    flex: 1;
    margin-right: -38%;
    margin-top: -2%;
}

.policy-btn span {
    display: inline-block;
    height: 20px;
    width: 20px;
}

.policy-btn path {
    color: black;
}

.hidden-select {
    display: none;
}


#trips-by-days label {
    margin-top: -0.5%;
}

#trips-by-days .input-group {
    margin-bottom: 1%;
}

.hidden-select .widget {
    border: 2px solid #F5F5F5;
    padding: 2%;
    border-radius: 5px;
    margin-bottom: 2%;
}

.hidden-select .checkbox-btn {
    width: 20px;
    height: 20px;
    border: 2px solid #e9eaee;
    border-radius: 5px;
    margin-right: 2%;
}

.hidden-select .checkbox-label {
    font-size: 1.1rem;
    margin-top: -0.5%;
}

.hidden-select .desc {
    font-weight: 500;
    color: gray;
    margin-left: 5%;
}

.hidden-select .radio-btn {
    width: 20px;
    height: 20px;
    border: 2px solid #F5F5F5;
    margin-right: 2%;
}

.hidden-select .radio-label {
    font-weight: 500;
    margin-left: 2%;
    font-size: 1rem;
}

.main-step-section {
    width: 100%;
}

.service-img {
    margin-right: 1%;
    flex-shrink: 0;
}

.service {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 2px;
    margin-top: 1%;
}

.inner {
    padding-left: 5%;
}

.service label {
    font-weight: 500;
    font-size: 1.1rem;
}

.service .service-btn {
    width: 20px;
    height: 20px;
}

.service small {
    font-weight: 500;
    color: gray;
    display: inline-block;
}

.service .outer-small {
    margin-top: 5%;
}

.service .service-body {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

.service .text-container {
    display: flex;
    flex-direction: column;
}

.service-label,
small {
    text-align: left;
}

.service .input-container {
    display: flex;
    align-items: center;
}

.inner-label {
    margin-bottom: -5%;
}

.outer-label {
    margin-bottom: -5%;
}

.add-location {
    display: block;
    text-decoration: none;
    font-weight: 700;
    color: black;
    margin-left: 5%;
    padding: 1%;
    background: #F3F3F3;
    width: 25%;
    text-align: center;
    border-radius: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.add-location:hover {
    background: #F5F5F5;
}

.input-radio-field {
    width: 20px;
    height: 20px;
    border: 2px solid gray;
}

.radio-label {
    font-weight: 500;
    margin-top: -5%;
}

.hidden {
    display: none;
}

.location-count {
    font-weight: 700;
    margin-top: 1%;
    margin-bottom: -1%;
}