body {
    padding-left: 5%;
    padding-right: 5%;
}

header {
    margin-top: -5%;
    justify-content: center;
    text-align: center;
}

#main-section {
    font-family: "Montserrat";
    margin-top: -3%;
}

.flexible-btn {
    position: absolute;
    left:85%;
    top: 4%;
    color: black;
    text-decoration: none;
    font-weight: 700;
    background: #F5F5F5;
    padding: 1.5% 2%;
    border-radius: 50%;
}

#main-section .text-container h3 {
    font-weight: 700;
}

#main-section .text-container p {
    width: 50%;
    margin-left: 25%;
    font-weight: 500;
    color: gray;
}