#tenth-section {
    padding: 2% 10%;
    display: flex;
    flex-wrap: wrap;
}

#tenth-section .step {
    flex: 0 0 calc(33.333% - 20px);
    margin: 10px;
    box-sizing: border-box;
    text-align: left;
}

#tenth-section .step h6 {
    width: 70%;
    font-weight: 700;
    margin-top: 2%;
    margin-bottom: 10%;
    line-height: 18pt;
}

#tenth-section .step h6 span {
    color:rgba(50,187,120,1);
}