#seventh-section {
    padding: 2% 10%;
    font-weight: 500;
}

#seventh-section .step {
    display: flex;
    margin-bottom: 4%;
}

#seventh-section .step span {
    font-size: 3.5rem;
    font-weight: 500;
    margin-right: 5%;
}

#seventh-section .step .step-title {
    color: rgba(50,187,120,1);
    font-weight: 700;
    font-size: 1.1rem;
}

#seventh-section .alarm-title {
    color: green;
    font-weight: 700;
    font-size: 1.1rem;
}