{% load static %}

<section class="help_section" id="second-section">
    <div class="background-container">
        <div class="image-container">
            <img class="section-image"
                 src="{% static 'courier/media/termobag-page-second-section.jpg' %}"
                 width="500">
            <h1 class="price-title">700₴</h1>
        </div>
        <div class="text-container">
            <p>
                <b>
                    Для виконання доставок їжі на платформі Bolt Food обов'язково користуватись термосумкою.
                </b>
            </p>
            <p>
                <b>
                    Ви можете отримати нашу фірмову термосумку Bolt Food - для цього
                    <a href="#">
                        зверніться до інформаційно-консультаційного центру
                    </a>
                    у вашому місті.
                </b>
            </p>
        </div>
    </div>
    <div class="rest-content">
        <p>
            Умови придбання сумки через інформаційно-консультаційний центр для кур'єрів можна переглянути
            <a href="#">на сайті.</a>
        </p>
    </div>
</section>