<section id="faq_section">
    <h1 class="section-title">
        Поширені запитання
    </h1>
    <div class="accordion">
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                    Як часто я отримуватиму гроші?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    Наш платіжний цикл триває з 00:00 понеділка до 23:59 неділі. Якщо ви маєте отримати виплату,
                    ми надсилатимемо її щотижня - не потрібно чекати кінця місяця
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                    Скільки отримує кур'єр Bolt Food, здійснюючи доставки на автомобілі?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    Ваш дохід залежатиме від вашої ефективності та кількості доставлених замовлень.
                    Заробіток зростатиме в години пік, за участі в бонусних кампаніях, а також внаслідок чайових,
                    що залишатимуть вам клієнти.
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                    Як дізнатись про свій заробіток?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    Ви можете відстежувати свої прибутки у додатку Bolt Food Courier. Просто перейдіть до
                    головного меню та торкніться вкладки "Усі доставки". Ви знайдете всю необхідну інформацію
                    про свій заробіток, включно з бонусами та чайовими
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                    Чи повинен я працювати за розкладом, або ж я зможу самостійно обирати години
                    роботи?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    Як незалежний кур'єр Bolt Food, ви самостійно встановлюєте час виходу на лінію та
                    закінчення робочого дня. Доставляйте замовлення, коли хочете - на платформі не існує
                    мінімального або максимального обмеження на кількість замовлень на день або на тиждень.
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                    Які є вимоги для реєстрації кур'єром Bolt Food?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    Ви повинні бути повнолітніми, мати дійсне посвідчення особи з фотографією та
                    смартфон із місцевим номером телефону. Для отримання додаткової інформації
                    дивіться вимоги до конкретної країни.
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                    Чому варто стати кур'єром Bolt Food?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    З Bolt Food у вас буде можливість отримувати дохід, доставляючи їжу у вільний час.
                    Зареєструватися дуже просто. Ми пропонуємо щотижневі виплати без комісій і надаємо
                    повну свободу у виборі графіка доставки - ідеальні умови для підробітку
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                    Коли я можу почати доставляти?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    Зареєструватись можна просто зараз - просто заповніть форму заявки. Ми перевіримо її
                    і найближчим часом надішлемо вам лист-підтвердження з подальшими інструкціями.
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                    Що відбувається з чайовими, які я отримую за доставку їжі?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    Ви отримаєте 100% чайових, які залишають клієнти через наш додаток
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                    Скільки я буду отримувати замовлень?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    Кількість замовлень залежить від обраної зони та часу доставки.
                    Наша платформа надає кур'єрам доступ до максимально можливої кількості
                    замовлень, щоб забезпечити більше можливостей для отримання доходу.
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                    Яку підтримку я отримую як кур'єр?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    У Bolt Food є цілодобова служба підтримки - ми завжди допоможемо вам
                    розібратися з будь-якими питаннями або проблемами. Ми також організовуємо навчання
                    та надаємо докладні рекомендації кур'єрам на всі випадки життя
                </p>
            </div>
        </div>
    </div>
</section>