{% load static %}

<section id="how-it-works">
    <div class="left-part">
        <img class="section-img" src="{% static 'courier/media/how-the-app-works-mobile.png' %}"
        alt="how-it-works-img">
    </div>
    <div class="right-part">
        <h1 class="section-title">
            Як працює додаток Bolt Courier
        </h1>
        <p class="section-description">
            Наш додаток розроблено спеціально для кур'єрів
            так, щоб приймати й доставляти замовлення було
            якомога простіше, а взаємодія з платформою була
            максимально ефективною.
        </p>
        <ol class="how-it-works-ol">
            <li id="first-li">
                <h6>Отримання замовлень</h6>
                <p>
                    Переглядайте вхідні замовлення, перевіряйте
                    їх деталі та починайте доставляти.
                </p>
            </li>
            <li id="second-li">
                <h6>Отримання замовлення</h6>
                <p>
                    Заберіть замовлення з ресторану чи крамниці.
                </p>
            </li>
            <li id="third-li">
                <h6>Доставка</h6>
                <p>
                    Прямуйте до адреси доставки найшвидшим
                    і найбезпечнішим способом.
                </p>
            </li>
            <li id="fourth-li">
                <h6>Слідкуйте за вашими заробітками</h6>
                <p>
                    Спостерігайте за власною ефективністю
                    та контролюйте доходи в режимі реального часу
                </p>
            </li>
        </ol>
    </div>
</section>