{% load static %}

<section id="improve-your-income">
    <div class="left-section">
        <!--<img src="{% static 'courier/media/boost-your-earnings-mobile.png' %}" alt="Boost Your Earnings">-->
        <img src="https://bolt.eu/static/94f5af23b5c46c2ffc8e616589ff7509/66be4/boost-your-earnings-mobile.png">
    </div>
    <div class="right-section">
        <h1 class="section-title">
            Збільшіть свій заробіток
        </h1>
        <ol class="advantages-list">
            <li>
                <h6>Отримуйте більше в години пік</h6>
                <p class="first-point">
                    Збільшуйте свої прибутки за допомогою нашої моделі
                    динамічного ціноутворення, й отримуйте більше в години пік.
                </p>
            </li>
            <li>
                <h6>Отримуйте чайові від клієнтів</h6>
                <p class="second-point">
                    Отримуйте додаткову винагороду від вдячних клієнтів, які
                    цінують вашу старанність та зусилля.
                </p>
            </li>
            <li>
                <h6>Отримуйте більше завдяки бонусам</h6>
                <p class="third-point">
                    Ми пропонуємо можливість отримання додаткового доходу за
                    доставку замовлень вихідними, протягом вечірніх годин чи
                    за поганої погоди.
                </p>
            </li>
        </ol>
    </div>
</section>