{% load static %}

<section id="eight-section">
    <div class="container">
        <div class="text-container">
            <h1 class="section-title">
                Оберіть оптимальний маршрут
            </h1>
            <p class="section-desc">
                Спростіть свої ділові поїздки в 3 кроки.
            </p>
            <ol>
                <li>
                    <p>
                        Введіть бізнес-дані та оберіть бажаний спосіб оплати.
                    </p>
                </li>
                <li>
                    <p>
                        Додайте членів команди та встановіть ліміт витрат і використання.
                        Ви можете поділити співробітників на групи з певними обмеженнями.
                    </p>
                </li>
                <li>
                    <p>
                        Ви готові забронювати швидкі та доступні бізнес-поїздки для вашої
                        команди.
                    </p>
                </li>
            </ol>
            <div class="btn-section">
                <a href="#" class="section-btn" id="green-btn">Розпочати поїздку</a>
                <a href="#" class="section-btn" id="white-btn">Зв'язатись з нами</a>
            </div>
        </div>
        <div class="image-container">
            <img width="450" height="450"
                 src="{% static 'business/media/desktop.webp' %}"/>
        </div>
    </div>
</section>