{% load static %}

<section id="fifth-section">
    <h1 class="section-title">
        Як користуватись Bolt Business
    </h1>
    <p class="section-desc">
        Безпечні, надійні та доступні поїздки для вашої команди. Усе під вашим контролем.
    </p>
    <div class="steps-container">
        <div class="step">
            <img width="50" height="50"
                 src="{% static 'business/media/rides.png' %}"/>
            <p>
                <b>Робочі поїздки</b>
            </p>
            <p>
                Відправте свою команду в офіс, на клієнтські зустрічі або в аеропорт
                з комфортом
            </p>
        </div>
        <div class="step">
            <img width="50" height="50"
                 src="{% static 'business/media/drive.png' %}"/>
            <p>
                <b>Оренда автомобіля з Bolt Drive</b>
            </p>
            <p>
                Всі переваги автомобіля без необхідності його купувати
            </p>
        </div>
        <div class="step">
            <img width="50" height="50"
                 src="{% static 'business/media/scooters.png' %}"/>
            <p>
                <b>Електросамокати та велосипеди Bolt</b>
            </p>
            <p>
                Для короткої поїздки краще скористайтесь нашим сертифікованим
                CarbonNeutral® електросамокатом чи електровелосипедом, що є дружнім
                до довкілля
            </p>
        </div>
        <div class="step">
            <img width="50" height="50"
                 src="{% static 'business/media/food.png' %}"/>
            <p>
                <b>Bolt Food для бізнесу</b>
            </p>
            <p>
                Нагодуйте свою команду. Будь-коли. Де завгодно. Bolt Food для
                бізнесу має все необхідне.
            </p>
        </div>
    </div>
</section>