{% load static %}

<section id="fourth_section">
    <div class="container">
        <div class="image-container">
            <img width="500" height="400"
                 src="{% static 'business/media/features-image.webp' %}"/>
        </div>
        <div class="text-container">
            <ol class="features-list">
                <li>
                    <p class="point-title">
                        Заощаджуйте час
                    </p>
                    <p class="point-desc">
                        Автоматичні звіти про робочі поїздки команди.
                        Заощаджуйте час працівників на заповнення звітів про витрати.
                    </p>
                </li>
                <li>
                    <p class="point-title">
                        Скоротіть витрати на поїздки
                    </p>
                    <p class="point-desc">
                        Ціни Bolt - одні з найвигідніших на ринку. Заощаджуйте гроші
                        для важливіших завдань.
                    </p>
                </li>
                <li>
                    <p class="point-title">
                        Отримайте повний контроль і видимість
                    </p>
                    <p class="point-desc">
                        Встановлюйте розклад, коли саме ваша команда зможе здійнсювати поїздки,
                        скільки грошей витратить, а також тип транспорту, який використовуватиме. Додавайте або
                        видаляйте співробітників, якщо склад вашої команди змінюватиметься.
                    </p>
                </li>
                <li>
                    <p class="point-title">
                        Просте виставлення рахунків
                    </p>
                    <p class="point-desc">
                        Сплачуйте за всі робочі поїздки вашої команди раз на місяць за
                        допомогою банківського переказу або ж окремо за кожну поїздку.
                    </p>
                </li>
            </ol>
        </div>
    </div>
</section>