{% load static %}

<section id="second-section">
    <div class="content">
        <div class="text-content">
            <h2 class="section-title">
                Bolt Business допомагає ~ 30 000 компаніям
            </h2>
            <p class="section-desc">
                Доступні та надійні поїздки для бізнесу в будь-якій галузі.
            </p>
        </div>
        <div class="image-container">
            <img width="400"
                 height="250"
                 src="{% static 'business/media/keep-business-moving-mobile.webp' %}"/>
        </div>
    </div>
</section>