{% load static %}

<section id="seventh-section">
    <div class="image-container">
        <img width="500" height="250"
             src="{% static 'business/media/carbon-neutral-desktop.webp' %}"/>
    </div>
    <div class="text-container">
        <h1 class="section-desc">
            Усі поїздки Bolt Business вуглецево-нейтральні
        </h1>
        <p class="section-desc">
            Зробіть найекологічніший вибір для робочих поїздок вашої
            компанії. Ми компенсуємо викиди вуглецю від усіх поїздок сервісу
            корпоративних поїздок Bolt Business, а всі поїздки на електросамокатах та
            електровелосипедах Bolt мають сертифікат CarbonNeutral®.
        </p>
        <a href="{% url 'green' %}" id="goto-btn">Зробіть зелений вибір</a>
    </div>
</section>