{% load static %}

<section id="sixth-section">
    <div class="text-container">
        <h1 class="section-title">
            Особиста підтримка різними мовами
        </h1>
        <p class="section-desc">
            Отримуйте допомогу від нашої служби підтримки клієнтів
            7 днів на тиждень.
        </p>
        <a href="#" class="goto-btn">Подивіться, як ми підтримуватимемо вас</a>
    </div>
    <div class="image-container">
        <img width="500" height="250"
             src="{% static 'business/media/personal-support-desktop.webp' %}"/>
    </div>
</section>