<section class="help_section" id="third-section">
    <div class="title-container">
        <h1 class="title-main">
            Рівні знижок
        </h1>
        <p>(в залежності від кількості доставок за минулий місяць)</p>
    </div>
    <div class="category-container">
        <div class="category" id="first-category">
            <span class="category-title">A</span>
            <p class="category-desc">1-99 доставок</p>
        </div>
        <div class="category" id="second-category">
            <span class="category-title">B</span>
            <p class="category-desc">100-199 доставок</p>
        </div>
        <div class="category" id="third-category">
            <span class="category-title">C</span>
            <p class="category-desc">200-399 доставок</p>
        </div>
        <div class="category" id="fourth-category">
            <span class="category-title">D</span>
            <p class="category-desc">400 і більше доставок</p>
        </div>
    </div>
</section>