{% load static %}

<section class="scooters_section" id="fifth-section">
    <div class="content">
        <div class="text-container">
            <h1>
                Відповідальне партнерство із містами
            </h1>
            <p>
                Ми співпрацюємо із містами, щоб зробити вулиці менш
                перевантаженими, повітря чистішим, а транспорт - доступнішим
                для усіх і кожного.
            </p>
            <div class="btn-row">
                <a href="#" class="row-btn" id="learn-more">Дізнатися більше</a>
                <a href="#" class="row-btn" id="our-cities">Наші міста</a>
            </div>
        </div>
        <div class="image-container">
            <img src="{% static 'scooters/media/scooters-main-page-fifth-section.webp' %}">
        </div>
    </div>
</section>