<section class="help-section" id="accordion-section">
    <div class="accordion">
        <div class="accordion-item">
            <div class="accordion-header">
                    <span class="accordion-title">
                        Київ
                    </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    <b>ІКЦ №1</b>
                </p>
                <p>
                    <b>
                        <a href="https://bolt-ua.com/uk/food">https://bolt-ua.com/uk/food</a>
                    </b>
                </p>
                <p>
                    вул. Красилівська, 11 (БЦ Британія, 1 каб.)
                </p>
                <p class="em-text">+380978240505</p>
                <p class="em-text">+380933115141</p>
                <p>
                    <b>ІКЦ №2</b>
                </p>
                <p>
                    <b>
                        <a href="https://www.boltfood.com.ua/">https://www.boltfood.com.ua/</a>
                    </b>
                </p>
                <p>
                    вул. Бастіонна, 2/1
                </p>
                <p class="em-text">+380443002053</p>
                <p class="em-text">+380733051271</p>
                <p class="em-text">+380733051272</p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                    <span class="accordion-title">
                        Львів
                    </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    <b>
                        <a href="https://www.boltfood.com.ua/">https://www.boltfood.com.ua/</a>
                    </b>
                </p>
                <p>пл. Святого Теодора, 11</p>
                <p class="em-text">+380443002053</p>
                <p class="em-text">+380639673957</p>
                <p class="em-text">+380665390210</p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                    <span class="accordion-title">
                        Дніпро
                    </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    <b>
                        <a href="https://www.boltfood.com.ua/">https://www.boltfood.com.ua/</a>
                    </b>
                </p>
                <p>пр-т Гагаріна, 99</p>
                <p class="em-text">+380993176736</p>
                <p class="em-text">+380639675527</p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                    <span class="accordion-title">
                        Одеса
                    </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    <b>
                        <a href="https://www.boltfood.com.ua/">https://www.boltfood.com.ua/</a>
                    </b>
                </p>
                <p class="em-text">+380733051271</p>
                <p class="em-text">+380443002053</p>
                <p class="em-text">+380733051272</p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                    <span class="accordion-title">
                        Харків
                    </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    <b>
                        <a href="https://www.boltfood.com.ua/">https://www.boltfood.com.ua/</a>
                    </b>
                </p>
                <p class="em-text">+380933913447</p>
                <p class="em-text">+380733051271</p>
                <p class="em-text">+380443002053</p>
                <p class="em-text">+380733051272</p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                    <span class="accordion-title">
                        Вінниця
                    </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    <b>
                        <a href="https://www.boltfood.com.ua/">https://www.boltfood.com.ua/</a>
                    </b>
                </p>
                <p class="em-text">+380733051271</p>
                <p class="em-text">+380443002053</p>
                <p class="em-text">+380733051272</p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                    <span class="accordion-title">
                        Бровари
                    </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    <b>
                        <a href="https://www.boltfood.com.ua/">https://www.boltfood.com.ua/</a>
                    </b>
                </p>
                <p class="em-text">+380733051271</p>
                <p class="em-text">+380443002053</p>
                <p class="em-text">+380733051272</p>
            </div>
        </div>
    </div>
</section>