<div class="delivery-dropdown" id="delivery-modal">
    <div class="dropdown-content">
        <ul>
            <li><a href="{% url 'courier_info' %}">Реєстрація</a></li>
            <li>Користування платфор...</li>
            <li>Групування доставок</li>
            <i class="fa-regular fa-square-caret-down" id="open-inner-content"></i>
            <li>Зони та години роботи
            </li>
            <li>Термосумка</li>
            <li>Програма лояльності</li>
            <li><a href="{% url 'insurance' %}">Страхування</a></li>
        </ul>
    </div>
    <div class="inner-content">
        <ul>
            <li class="disable-li" id="hide-inner">Зони та години роботи</li>
            <li><a href="#">Київ</a></li>
            <li><a href="#">Львів</a></li>
            <li><a href="#">Дніпро</a></li>
            <li><a href="#">Харків</a></li>
            <li><a href="#">Одеса</a></li>
            <li><a href="#">Вінниця</a></li>
        </ul>
    </div>
</div>