<section class="help-section" id="fifth-section">
    <p class="section-p">
        Інформаційно-консультаційний центр - місце, де ви проходите остаточну реєстрацію акаунтів, отримуєте
        інвентар, а також всю необхідну інформацію для подальших успішних доставок
    </p>
    <p class="section-p">
        Це місце, де вам завжди допоможуть вирішити поточні питання (покупа сумки, відмітка про відміну замовлення
        та ін.) або ж скласти детальне звернення до служби підтримки Bolt Food. Ви можете звернутись у будь-який
        ІКЦ.
    </p>
</section>