<div class="income-dropdown" id="income-modal">
    <div class="dropdown-content" id="main-content">
        <ul>
            <li><a href="{% url 'income' %}">Коефіцієнти та дохід</a></li>
            <i class="fa-regular fa-square-caret-down" id="open-inner-content-second-icon"></i>
            <li><a href="#">Готівкові замовлення</a></li>
        </ul>
    </div>
    <div class="income-inner-content" id="income-inner">
        <ul>
            <li class="disable-li" id="second-inner">Готівкові замовлення</li>
            <li><a href="{% url 'cash_delivery' %}">Процес доставки</a></li>
            <li><a href="{% url 'add_balance' %}">Поповнення балансу</a></li>
        </ul>
    </div>
</div>