<section class="help-section" id="seventh-section">
    <ul id="first-ul">
        <li>
            Завантажте <b>Telegram</b> y App Store або Google Play Store.
        </li>
        <li>
            Зареєструйтеся
        </li>
        <li>
            Знайдіть <b>Telegram-</b>канал у вашому місті
        </li>
        <li>
            <ul id="second-ul">
                <li>
                    <b>Bolt Food 🍔 Київ -</b><a href="t.me/boltfood_kyiv">t.me/boltfood_kyiv</a>
                </li>
                <li>
                    <b>Bolt Food 🍔 Харків -</b><a href="https://t.me/boltfood_kharkiv">t.me/boltfood_kharkiv</a>
                </li>
                <li>
                    <b>Bolt Food 🍔 Дніпро -</b><a href="t.me/boltfood_dnipro">t.me/boltfood_dnipro</a>
                </li>
                <li>
                    <b>Bolt Food 🍔 Львів -</b><a href="t.me/boltfood_lviv">t.me/boltfood_lviv</a>
                </li>
                <li>
                    <b>Bolt Food 🍔 Одеса -</b><a href="t.me/boltfood_odessa">t.me/boltfood_odessa</a>
                </li>
                <li>
                    <b>Bolt Food 🍔 Вінниця -</b><a href="t.me/boltfood_vinnytsia">t.me/boltfood_vinnytsia</a>
                </li>
                <li>
                    <b>Bolt Food 🍔 Бровари -</b><a href="t.me/boltfood_brovary">t.me/boltfood_brovary</a>
                </li>
            </ul>
        </li>
    </ul>
</section>