<div class="help-section" id="third-section">
    <p class="section-p">
        Якщо ви не маєте поточного замовлення, але потребуєте допомоги:
    </p>
    <ul class="section-ul">
        <li>
            Зайдіть у розділ "Допомога" у додатку Bolt Courier
        </li>
        <li>
            Знайдіть питання, щодо якого вам потрібна допомога чи додаткова інформація
        </li>
        <li>
            Опція зв'язку зі службою підтримки з'явиться, якщо інформація у додатку не вирішує вашу проблему
        </li>
    </ul>
    <p class="section-p">
        Ви також можете звернутись до служби підтримки, написавши листа на електронну пошту
        <a href="mailto:ukraine-food@bolt.eu">ukraine-food@bolt.eu</a>
    </p>
    <em class="section-p">
        Наша команда підтримки реагує швидко. Зазвичай, ви отримаєте відповідь протягом 1-2 робочих годин(07:00 - 00:00)
    </em>
</div>