<section class="faqs-section" id="faqs-section">
    <h4 class="section-title">
        Поширені запитання
    </h4>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                        aria-expanded="false" aria-controls="flush-collapseOne">
                    Що таке Bolt Food?
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Bolt Food - це сервіс доставки товарів для ресторанів та магазинів. Завдяки додатку
                    Bolt Food ресторани та магазини-партнери отримують доступ до мільйонів клієнтів, які прагнуть
                    замовити доставку їжі, продуктів та багато чого іншого.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                        aria-expanded="false" aria-controls="flush-collapseTwo">
                    Як стати партнером Bolt Food?
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Стати партнером Bolt Food легко - для початку вам потрібно заповнити форму для
                    реєстрації. Також необхідно буде надати інформацію про свій бізнес, наприклад, меню та
                    фотографії продуктів. Після реєстрації ми надішлемо вам пристрій, і ви будете готові приймати
                    замовлення
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                        aria-expanded="false" aria-controls="flush-collapseThree">
                    Чи є якісь особливі вимоги, щоб стати партнером Bolt Food?
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Щоб стати партнером Bolt Food, ви повинні мати зареєстровний бізнес, який відповідає
                    всім місцевим законодавчим і нормативним вимогам. Крім того, ви повинні мати діючий
                    банківський рахунок для отримання платежів і спеціальне приміщення, придатне для підготовки
                    замовлень
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseFour"
                        aria-expanded="false" aria-controls="flush-collapseFour">
                    Як Bolt Food допомагає своїм партнерам збільшити дохід?
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Bolt Food допомагає своїм партнерам збільшити дохід, надаючи доступ до великої
                    клієнтської бази та дозволяючи їм охопити якомога більше потенційних клієнтів.
                    Платформа також пропонує інструменти для просування, наприклад, спецальні категорії,
                    який показує ваш бізнес на видному місці в додатку і допомагає залучати клієнтів.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseFive"
                        aria-expanded="false" aria-controls="flush-collapseFive">
                    Чи знадобиться мені додаткове обладнання або програмне забезпечення?
                </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Усі партнери Bolt Food отримають замовлення і керують їхнім статусом через додаток
                    Bolt Restaurant за допомогою планшета, підключеного до інтернету. Ви можете використовувати
                    власний пристрій, або ми можемо надати його вам. Крім того, ви можете оптимізувати прийом
                    замовлень за допомогою налаштування інтеграції замовлень з платформи одразу у ваш POS.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseSix"
                        aria-expanded="false" aria-controls="flush-collapseSix">
                    Скільки часу знадобиться, щоб стати рестораном-партнером?
                </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Процес приєднання до платформи Bolt Food зазвичай займає 7 робочих днів,
                    залежно від того, наскільки швидко ви можете надати необхідну інформацію та
                    виконати необхідні кроки
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven"
                        aria-expanded="false" aria-controls="flush-collapseSeven">
                    Які переваги партнерства з Bolt Food для ресторанів?
                </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Партнерство з Bolt Food надає ряд можливостей ресторанам, такі, як доступ
                    до великої клієнтської бази, підвищення видимості закладу, доступну, безпечну
                    та швидку доставку замовлень, підтримку клієнтів та інструменти для просування тощо.
                    Крім того, Bolt Food надає доступ до партнерського порталу для легкого управління
                    замовленнями та оновленнями меню.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseEight"
                        aria-expanded="false" aria-controls="flush-collapseEight">
                    Як я можу зв'язатись зі службою підтримки Bolt Food?
                </button>
            </h2>
            <div id="flush-collapseEight" class="accordion-collapse collapse"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Найшвидший спосіб зв'язатись з нашою службою підтримки - через вбудований чат на
                    партнерському порталі Bolt Food. За бажанням, ви також можете зв'язатись з нами електронною
                    поштою ukraine-food@bolt.eu. Якщо ви розташовані по Україною, контактні дані команди
                    підтримки можна знайти на сторінці відповідного міста.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseNine"
                        aria-expanded="false" aria-controls="flush-collapseNine">
                    Що таке портал для партнерів Bolt Food?
                </button>
            </h2>
            <div id="flush-collapseNine" class="accordion-collapse collapse"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Портал для партнерів Bolt Food - це платформа, яка дозволяє управляти закладами, а
                    саме мати доступ до історії замовлень, управління меню, аналітики ефективності та багато
                    іншого!
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseTen"
                        aria-expanded="false" aria-controls="flush-collapseTen">
                    Як відбувається процес виплат через платформу Bolt Food?
                </button>
            </h2>
            <div id="flush-collapseTen" class="accordion-collapse collapse"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Наші партнери отримують виплати на початку кожного тижня. Виплата покриває
                    замовлення за попередній тиждень, за вирахуванням нашої комісії та будь-яких
                    інших відрахувань(наприклад, плата за оренду планшетів, де це можливо).
                </div>
            </div>
        </div>
    </div>
</section>