{% load static %}

<section class="fifth-section-page" id="fifth-section">
    <div class="text-container">
        <div class="image-content">
            <img class="start-offer" src="{% static 'index_page/src/starting-with.webp' %}">
        </div>
        <div class="info-content">
            <h1 class="section-title">
                Розпочати роботу з Bolt Food легко
            </h1>
            <p class="section-info">
                Виконайте 4 прості кроки, щоб почати:
            </p>
            <ol class="four-steps">
                <li class="four-steps-li">
                    Підпишіть угоду про партнерство;
                </li>
                <li class="four-steps-li">
                    Надайте нам своє меню та фотографії продуктів;
                </li>
                <li class="four-steps-li">
                    Підтвердіть вашу інформацію;
                </li>
                <li class="four-steps-li">
                    Виходьте онлайн та почніть отримувати замовлення!
                </li>
            </ol>
            <a href="#" class="start-now-btn">
                Почати зараз
            </a>
        </div>
    </div>
</section>