<section class="first-section-page" id="first-section">
        <div class="text-content">
            <h1 class="page-title-container">
                Станьте партнером Bolt Food та збільшуйте свій дохід
            </h1>
            <p class="page-subtitle-container">
                Партнери Bolt Food отримують більше замовлень, збільшують
                продажі та мають неперевершену видимість - реєструйся вже сьогодні
                та користуйся перевагами!
            </p>
            <a href="{% url 'partner_signup' %}" class="start-now">
                Почати зараз
            </a>
        </div>
    </section>