{% load static %}

<section class="fourth-section-page" id="fourth-section">
    <div class="text-container">
        <div class="info-container">
            <h1 class="page-title">
                Технологічні рішення для вашого бізнесу
            </h1>
            <p class="page-desc">
                Ви зможете відстежувати свої ключові показники ефективності
                та покращувати їх за допомогою доступних інструментів Bolt Food
            </p>
            <div class="page-point">
                <h6 class="point-title">
                    Унікальні користувачі
                </h6>
                <p class="point-info">
                    Можливість відслідковувати нову аудиторію, яка робила
                    замовлення в закладі вперше.
                </p>
            </div>
            <div class="page-point">
                <h6 class="point-title">
                    Середня вартість замовлення
                </h6>
                <p class="point-info">
                    Краще розуміння середнього чека замовлень на доставку.
                </p>
            </div>
            <div class="page-point">
                <h6 class="point-title">
                    Дохід
                </h6>
                <p class="point-info">
                    Загальна вартість доставлених замовлень до надання знижок,
                    включно з ПДВ та без урахування вартості доставки.
                </p>
            </div>
            <div class="page-point">
                <h6 class="point-title">
                    Конверсія
                </h6>
                <p class="point-info">
                    Можливість переглядати відсоток клієнтів, які зробили замовлення
                    після перегляду сторінки закладу в додатку
                </p>
            </div>
        </div>
        <div class="image-container">
            <img class="dashboards-img" src="{% static 'index_page/src/smart-insights.webp' %}">
        </div>
    </div>
</section>