{% load static %}

<section class="second-section-page" id="second-section">
    <div class="text-content">
        <div class="info-container">
            <h2 class="ul-title">
                Досягніть більшого з Bolt Food
            </h2>
            <p class="ul-desc">
                Досягайте значних успіхів завдяки
                нашим потужним інструментам та підтримці:
            </p>
            <ol class="partner-ol">
                <li class="partner-li" id="more-income-li">
                    <h6>Більше доходів</h6>
                    <p id="first-li">
                        Заробляйте до 20 000 грн на тиждень
                        додаткового доходу
                    </p>
                </li>
                <li class="partner-li" id="more-customers-li">
                    <h6>Більше клієнтів</h6>
                    <p id="second-li">
                        Отримайте доступ до лояльної клієнтської
                        бази Bolt Food, а також мільйонів
                        користувачів додатку для замовлення
                        поїздок та оренди електросамокатів
                    </p>
                </li>
                <li class="partner-li" id="more-ideas-li">
                    <h6>Більше ідей</h6>
                    <p id="third-li">
                        Оптимізуйте продуктивність за
                        допомогою цінної інформації про дані, що
                        стоять за вашими продажами
                    </p>
                </li>
                <li class="partner-li" id="last-li">
                    <h6>Більше гнучкості</h6>
                    <p id="fourth-li">
                        Пропонуйте самовивіз, доставку або обидві
                        послуги одночасно - керуйте замовленнями з
                        планшета, телефону або POS-терміналу за
                        допомогою можливості інтеграції замовлень
                    </p>
                </li>
            </ol>
        </div>
        <div class="image-container">
            <img class="achieve-more-image" src="{% static 'index_page/src/achieve-more.webp' %}">
        </div>
    </div>
</section>