{% load static %}

<section class="sixth-section-page" id="sixth-section">
    <div class="text-container">
        <div class="image-content">
            <img class="order-img" src="{% static 'index_page/src/partner-benefit-desktop.webp' %}">
        </div>
        <div class="info-content">
            <h1 class="page-title">
                Приготуйтесь насолоджуватись перевагами
                Bolt Food!
            </h1>
            <p class="page-desc">
                Розкрийте весь потенціал свого бізнесу:
            </p>
            <ol class="business-potential">
                <li class="business-potential-li">
                    <strong>
                        Збільшуйте продажі, отримуючи в середньому
                        50 виконаних замовлень на тиждень
                    </strong>
                </li>
                <li class="business-potential-li">
                    <strong>
                        Збільшуйте дохід в середньому на 20 000
                        грн на тиждень
                    </strong>
                </li>
                <li class="business-potential-li">
                    <strong>
                        Залучайте в середньому 32 нових клієнта
                        на тиждень
                    </strong>
                </li>
            </ol>
            <a href="#" class="become-partner-btn">
                Станьте партнером Bolt Food вже зараз!
            </a>
            <p class="ps-title">
                Примітка: Фактичні результати можуть відрізнятися
                залежно від зовнішніх факторів і чинників
            </p>
        </div>
    </div>
</section>