* {
    font-family: "Montserrat", sans-serif;
}

header {
    background: transparent;
    position: relative;
    z-index: 2;
}

.country-title {
    margin-top: 12px;
}


#second-section,
#third-section,
#fourth-section,
#fifth-section,
#faqs-section,
#sixth-section {
    margin-top: 100px;
    padding: 50px;
}

#second-section .text-content,
#third-section .text-content,
#fourth-section .text-container,
#fifth-section .text-container,
#sixth-section .text-container{
    display: flex;
}

#second-section .text-content .info-container,
#third-section .text-content .image-container,
#fourth-section .text-container .image-container,
#fifth-section .text-container .image-content,
#sixth-section .text-container .image-content{
    flex: 1;
}

#second-section .text-content .image-container,
#third-section .text-content .text-container,
#fourth-section .text-container .info-container,
#fifth-section .text-container .info-content,
#sixth-section .text-container .info-content {
    flex: 1;
}

footer {
    margin-top: 50px;
}