* {
    font-family: "Montserrat", sans-serif;
}


.main-content {
    padding: 50px 480px;
}

.main-content .form-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.main-content p {
    margin-top: 20px;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.main-content p a {
    text-decoration: none;
    color: #2eb565;
}

.main-content p a:hover {
    text-decoration: underline;
    color: #238A4C;
}

.main-content form label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.main-content form input,
.main-content form select {
    margin-bottom: 20px;
}

.main-content form select {
    cursor: pointer;
}

.main-content form input:hover {
    outline-color: #2eb565 !important;
}

.main-content form input:focus {
    outline: none !important;
    border: 2px solid #2eb565;
}

.main-content form select:focus {
    border: 2px solid #2eb565;
}

.main-content .form-control,
.main-content form #id_partner_phone {
    background: #EBEBEB;
    border-radius: 10px;
    height: 50px;
}

.main-content form .field-notice {
    font-size: 0.9rem;
    margin-top: -10px;
    color: #BABABA;
}

.main-content form #id_partner_phone {
    display: block;
    border: none;
    width: 100%;
    padding-left: 6px;
}

.main-content form i {
    position: absolute;
    margin-top: -10%;
    margin-left: 87%;
    cursor: pointer;
    transform: translateY(-50%);
    transition: transform 0.5s ease;
    pointer-event: none;
}

.main-content form #bottom-arrow-down{
    margin-left: 22%;
    z-index: 1000;
    pointer-events: none;
}


.main-content form #id_partner_phone:focus {
    outline: none !important;
    border: 3px solid #2eb565;
    background: white;
}

.main-content form .last-point-container {
    display: flex;
}

.main-content form .last-point-container p {
    margin-top: 15px;
    margin-left: 10px;
    width: 70%;
}

.main-content form .last-point-container button {
    margin-top: 30px;
    background: #2eb565;
    border: none;
    color: white;
    min-height: 30px;
    height: 40px;
    font-weight: bold;
    border-radius: 15px;
    padding-top: 8px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.main-content form #modal-cuisine-choice .modal-content {
    position: absolute;
    top: -50%;
}

.main-content form .last-point-container button:hover {
    background: #279E57;
}

.main-content form .check-field,
.main-content form #modal-cuisine-choice .modal-content input{
    margin-top: 15px;
    height: 25px;
    width: 25px;
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content form .check-field:after,
.main-content form #modal-cuisine-choice .modal-content input:after{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 600;
    font-size: 18px;
    border: none;
    color: white;
    display: none;
}

.main-content form #id_country_phone_code {
    width: 27%;
    position: absolute;
    margin-top: -47.5%;
    /*top: 76%;
    left: 3%;*/
}

.main-content form #id_partner_phone {
    margin-left: 36%;
    margin-top: 0.5%;
    width: 65%;
}

.main-content form .check-field:checked,
.main-content form #modal-cuisine-choice .modal-content input:checked{
    background: #2eb565;
}

.main-content form .check-field:checked:after,
.main-content form #modal-cuisine-choice .modal-content input:checked:after{
    display: block;
}

.main-content form select option:hover {
    background: yellow;
}

.main-content form #modal-cuisine-choice {
    display: block;
    position: absolute;
    top: -21%;
    max-height: 400px;
    pointer-events: none;
    overflow-y: auto;
}

.main-content form #modal-cuisine-choice .modal-content {
    width: 88%;
    margin-left: 7%;
    display: none;
}

.main-content form #modal-cuisine-choice .modal-content .category-container {
    display: flex;
}

.main-content form #modal-cuisine-choice .modal-content label {
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 10px;
}

.main-content form #modal-cuisine-choice .modal-content input {
    height: 20px;
    width: 20px;
    font-size: 16px;
}

.main-content form #modal-cuisine-choice .modal-content input:after {
    font-size: 16px;
}

.main-content form #cuisine_badge,
.main-content .category-badge {
    color: black;
    display: none;
    font-weight: 400;
    font-size: 1rem;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    padding-right: -100%;
    border: 2px solid #EBEBEB;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}

.main-content .category-badge {
    display: inline-block;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-left: 7px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.main-content .category-badge:active {
    transform: scale(0.95);
}

.main-content form .category-badge:hover button,
.main-content form .category-badge button,
.main-content form .category-badge:hover{
    background: #E4E4E4;
}

.main-content form .category-badge button {
    border: none;
    background: white;
    font-size: 1.2rem;
}

.main-content form #address-label {
    display: block;
}

.main-content form .error-message {
    font-size: 1rem;
    color: red;
    font-weight: 500;
    margin-left: 7px;
    margin-bottom: 5px;
    margin-top: -10px;
}

.main-content form .conditional-field {
    display: block;
}

.main-content .container {
    position: relative;
}

