{% extends './base_template.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'business/css/account_page.css' %}">
    <link rel="stylesheet" href="{% static 'business/css/include_css/account_page/navbar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}

{% block body %}
    <section id="main">
        <div class="content">
            <div class="navbar-container">
                {% include './_includes/account_page/navbar.html' %}
            </div>
            <div class="rest-container">
                <div class="info-section">
                    <div class="image-container">
                        <img width="150" height="200" src="{% static 'business/media/setup-guide.svg' %}" />
                    </div>
                    <div class="text-container">
                        <h2 class="section-title">
                            Давайте налаштуємо ваш обліковий запис
                        </h2>
                        <p class="section-desc">
                            Виконайте перелічені нижче кроки та почніть користуватись своїм командним
                            обліковим записом Bolt.
                        </p>
                    </div>
                </div>
                <div class="steps-container">
                    <div class="stepper">
                        {% if not owner.is_email_verified %}
                            <div class="point"></div>
                            <div class="title">
                                <p class="point-title">
                                    <b>Перевірте вашу електронну пошту</b>
                                </p>
                                <p class="point-desc">
                                    Ми надіслали лист з підтвердженням на {{ user_email }}.
                                    Якщо ви не бачите його, перевірте папку "Спам". Посилання
                                    для підтвердження дійсне протягом 24 годин.
                                </p>
                                <a href="#" class="primary-btn">Надіслати лист повторно</a>
                            </div>
                        {% else %}
                            <svg class="tw-icon-svg"
                                         viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="12" cy="12" r="10"
                                                fill="currentColor"></circle>
                                        <path d="M11 16c-.3 0-.5-.114-.7-.343l-3-3.428c-.4-.458-.4-1.143 0-1.6.4-.458 1-.458 1.4 0l2.3 2.628 4.3-4.914c.4-.457 1-.457 1.4 0 .4.457.4 1.143 0 1.6l-5 5.714c-.2.229-.4.343-.7.343z"
                                              fill="#fff">
                                        </path>
                                    </svg>
                                <p class="point-desc-verified">
                                    Електронну адресу підтверджено
                                </p>
                        {% endif %}
                    </div>
                    {% if owner.is_email_verified and not owner.is_legal_info_verified %}
                        <div class="stepper second">
                            <div class="point smaller"><circle cx="10" cy="10" r="8"/></div>
                            <div class="title">
                                <p class="point-title">
                                    <b>
                                        Додайте реквізити Вашого роботодавця, що будуть використані для виставлення
                                        рахунків
                                    </b>
                                </p>
                                <p class="point-desc" id="second-point-desc">
                                    Будь ласка, надайте юридичну інформацію про Вашу компанію-роботодавця,
                                    яку бачитимете у рахунках.
                                </p>
                                <a href="{% url 'setup_billing' owner.owner_id   %}" id="add-details">Додати деталі</a>
                            </div>
                        </div>
                        <div class="stepper third">
                            <div class="point" id="smaller">3</div>
                            <p class="next-step-title">Додайте спосіб оплати</p>
                        </div>
                    {% endif %}
                    {% if owner.is_legal_info_verified %}
                        <div class="stepper">
                            <svg class="tw-icon-svg"
                                         viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="12" cy="12" r="10"
                                                fill="currentColor"></circle>
                                        <path d="M11 16c-.3 0-.5-.114-.7-.343l-3-3.428c-.4-.458-.4-1.143 0-1.6.4-.458 1-.458 1.4 0l2.3 2.628 4.3-4.914c.4-.457 1-.457 1.4 0 .4.457.4 1.143 0 1.6l-5 5.714c-.2.229-.4.343-.7.343z"
                                              fill="#fff">
                                        </path>
                                    </svg>
                                <p class="point-desc-verified">
                                    Відомості про компанію додано
                                </p>
                        </div>
                        <div class="stepper second">
                            <div class="point smaller"><circle cx="10" cy="10" r="8"/></div>
                            <div class="tittle">
                                <p class="point-tittle">
                                    <b>Додати спосіб оплати</b>
                                </p>
                                <p class="point-desc" id="third-point-desc">
                                    Виберіть спосіб оплати, який буде використовуватись для оплати робочих поїздок
                                    ваших співробітників.
                                </p>
                                <a href="{% url 'setup_payment' owner.owner_id %}" id="add-payment">Налаштувати платежі</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}