{% extends './base_template.html' %}


{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'business/css/edit_policy.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}

{% block js_additional %}
    <script src="{% static 'business/js/edit_policies/sales_control_popup.js' %}"></script>
    <script src="{% static 'business/js/edit_policies/sales_limit_popup.js' %}"></script>
    <script src="{% static 'business/js/edit_policies/drive_day_and_time_popup.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="content">
        <a href="#" class="cancel-btn">X</a>
        <div class="policies-icon">
            <img src="https://business.bolt.eu/current/assets/img/policy-create-page-header-6066d143e13133603082dce979ce449f.png"
            width="70" height="70"
            />
        </div>
        <div class="policy-section">
            <h2>Правила</h2>
            <p>
                Встановіть ліміти на витрати вашої команди, додайте обмеження за часом і коди витрат.
            </p>
        </div>
        <div class="form-container">
            <form class="edit-policy-form" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {% if forloop.counter == 3 %}
                        <div class="rules-header">
                            ПРАВИЛА
                        </div>
                        <hr class="no-safe-area">
                    {% endif %}
                    <div class="field-group">
                        {% if forloop.counter == 2 %}
                            <label class="non-required">{{ field.label }}<span>   Необов'язково</span></label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="errorlist">{{ field.errors }}</div>
                            {% endif %}
                        {% elif forloop.counter == 1 %}
                            <label>{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="errorlist">{{ field.errors }}</div>
                            {% endif %}
                        {% elif forloop.counter >= 3 %}
                            <div class="switch-field-group">
                                <div class="form-check form-switch">
                                    {{ field }}
                                    <label class="form-check-label" for="{{ field.id }}">{{ field.label }}</label>
                                </div>
                                {% if forloop.counter == 3 %}
                                    <p class="field-desc">
                                        До підтвердження замовлення потрібно буде вказати причину замовлення
                                        та/або код витрат.
                                    </p>
                                    <div class="hidden-select" id="sales-control">
                                        <div class="select-widgets">
                                            <div class="widget">
                                                <div class="input-group">
                                                    <input class="checkbox-btn" type="checkbox"
                                                           id="sale-notice" name="sale-notice" checked />
                                                    <label class="checkbox-label" for="sale-notice">
                                                        Нотатка про витрати
                                                    </label>
                                                </div>
                                                <div class="desc">
                                                    <p>
                                                        Користувачам потрібно додати нотатку та описати мету поїздки
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="widget">
                                                <div class="input-group">
                                                    <input class="checkbox-btn" type="checkbox" id="sales-code"
                                                           name="sales-code" />
                                                    <label class="checkbox-label" for="sales-code">Код витрат</label>
                                                </div>
                                                <div class="desc">
                                                    Користувачі зможуть вибрати потрібний код витрат
                                                    зі списку кодів витрат
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% elif forloop.counter == 4 %}
                                    <p class="field-desc">
                                        Встановіть максимальну суму грошей, яку може витратити користувач протягом
                                        певного проміжку часу.
                                    </p>
                                    <div class="hidden-select" id="limit-select">
                                        <div class="select-widgets">
                                            <div class="widget">
                                                <div class="input-group">
                                                    <input class="checkbox-btn" type="checkbox" id="personal-limit"
                                                           name="personal-limit" />
                                                    <label class="checkbox-label" for="personal-limit">
                                                        Індивідуальний ліміт
                                                    </label>
                                                </div>
                                                <div class="desc">
                                                    <p>
                                                        Призначте кожній людині в групі ліміт витрат
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="widget">
                                                <div class="input-group">
                                                    <input class="checkbox-btn" type="checkbox" id="group-limit"
                                                           name="group-limit" />
                                                    <label class="checkbox-label" for="group-limit">
                                                        Груповий ліміт
                                                    </label>
                                                </div>
                                                <div class="desc">
                                                    <p>
                                                        Призначте ліміт для групи в цілому
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% elif forloop.counter == 5 %}
                                    <p class="field-desc">
                                        Встановіть обмеження на замовлення поїздок у конкретні дні тижня
                                        та/або час доби.
                                    </p>
                                    <div class="hidden-select" id="trips-by-days">
                                        <div class="select-widgets">
                                            <div class="input-group">
                                                    <input class="radio-btn" type="radio" id="work_days"
                                                           name="options" value="work_days" />
                                                    <label class="radio-label" for="work_days">Тільки в будні</label>
                                                </div>
                                                <div class="input-group">
                                                    <input class="radio-btn" type="radio" id="user_settings"
                                                           name="options" value="user_settings" />
                                                    <label class="radio-label" for="user_settings">
                                                        Налаштування користувачів
                                                    </label>
                                                </div>
                                        </div>
                                    </div>
                                {% elif forloop.counter == 6 %}
                                    <p class="field-desc">
                                        Встановіть, які з сервісів Bolt можуть бути використані.
                                    </p>
                                    <div class="hidden-select" id="service-kind">
                                        <div class="main-step-section section">
                                            <div class="service">
                                                <img class="service-img" width="90"
                                                height="50"
                                                src="https://business.bolt.eu/current/assets/img/policies/ridehailing-9ffaf6b3ab20e50da69ee0a2cbe2ec4b.png"/>
                                                <div class="service-body">
                                                    <div class="text-container">
                                                        <label class="service-label" for="drive_only">
                                                            Лише замовлення поїздок (таксі)
                                                        </label>
                                                        <small>Користувачі зможуть замовляти поїздки</small>
                                                    </div>
                                                    <div class="input-container">
                                                        <input class="service-btn" type="checkbox" id="drive_only"
                                                        name="drive_only" checked/>
                                                    </div>
                                                </div>
                                            </div>
                                                {% for service in inner_bolt_services %}
                                                <div class="service inner">
                                                    <img class="service-img" width="90" height="50"
                                                         src="{{ service.service_img }}" />
                                                    <div class="service-body">
                                                        <div class="text-container">
                                                            <label class="service-label inner-label">
                                                                {{ service.service_title }}
                                                            </label>
                                                            <small class="outer-small">{{ service.service_description }}</small>
                                                        </div>
                                                        <div class="input-container">
                                                            <input class="service-btn" type="checkbox" checked/>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            {% for service in outer_bolt_services %}
                                                <div class="service">
                                                    <img class="service-img" width="90" height="50"
                                                         src="{{ service.service_img }}" />
                                                    <div class="service-body">
                                                        <div class="text-container">
                                                            <label class="service-label outer-label">
                                                                {{ service.service_title }}
                                                            </label>
                                                            <small class="outer-small">{{ service.service_description }}</small>
                                                        </div>
                                                        <div class="input-container">
                                                            <input class="service-btn" type="checkbox" checked />
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% elif forloop.counter == 7 %}
                                    <p class="field-desc">
                                        Виберіть місця, куди ваша команда може подорожувати.
                                        (Мова йде лише про поїздки на таксі)
                                    </p>
                                    <div class="hidden-select" id="drive-locations">
                                        <div class="choice-section">
                                            <div class="choice">
                                                <input type="radio" class="input-radio-field" name="to_or_from"
                                                id="to_or_from" checked/>
                                                <span class="input-choice">
                                                    <label class="radio-label" for="to_or_from">До або з певних локацій</label>
                                                </span>
                                                <a href="#" class="add-location">Додати локацію</a>
                                            </div>
                                            <div class="choice">
                                                <input type="radio" class="input-radio-field" name="only_from"
                                                       id="only_from" />
                                                <span class="input-choice">
                                                    <label class="radio-label" for="only_from">Тільки з певних локацій</label>
                                                </span>
                                                <a href="#" class="add-location hidden">Додати локацію</a>
                                            </div>
                                            <div class="choice">
                                                <input type="radio" class="input-radio-field" name="only_to"
                                                id="only_to" />
                                                <span class="input-choice">
                                                    <label class="radio-label" for="only_to">Тільки до певних локацій</label>
                                                </span>
                                                <a href="#" class="add-location hidden">Додати локацію</a>
                                            </div>
                                            <div class="choice">
                                                <input type="radio" class="input-radio-field" name="between"
                                                       id="between" />
                                                <span class="input-choice">
                                                    <label class="radio-label" for="between">Між певними локаціями</label>
                                                </span>
                                                <a href="#" class="add-location hidden">Додати локацію</a>
                                            </div>
                                        </div>
                                        <p class="location-count">Локації • 0</p>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="row-btn">
                    <div class="left-container">
                        <a href="#" class="policy-btn" id="remove-btn">
                            <span class="btn-icon">
                                <svg class="tw-icon-svg"
                                     viewBox="0 0 24 24"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 6h-5V4c0-1.1-.9-2-2-2h-4c-1.1 0-2 .9-2 2v2H3c-.6 0-1 .4-1 1s.4 1 1 1h1.1l.8 12.1c.1 1.1.9 1.9 2 1.9h10.3c1.1 0 1.9-.8 2-1.9L19.9 8H21c.6 0 1-.4 1-1s-.4-1-1-1zM10 4h4v2h-4V4zm1 13c0 .6-.4 1-1 1s-1-.4-1-1v-6c0-.6.4-1 1-1s1 .4 1 1v6zm4 0c0 .6-.4 1-1 1s-1-.4-1-1v-6c0-.6.4-1 1-1s1 .4 1 1v6z"
                                          fill="currentColor">
                                    </path>
                                </svg>
                            </span>
                            Видалити набір правил
                        </a>
                        </div>
                    <div class="right-container">
                        <button type="reset" class="policy-btn" id="cancel-btn">
                            Скасувати
                        </button>
                        <button type="submit" class="policy-btn" id="save-btn">
                            Зберегти
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}