{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'business/css/setup_company_billing.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}

{% block body %}
    <div class="content">
        <img width="60" height="60"
             src="{% static 'business/media/briefcase.svg' %}" />
        <div class="form-title">
            <h2>Відомості про компанію</h2>
            <p>
                Будь ласка, надайте юридичну інформацію вашої компанії.
                Це дасть змогу отримувати офіційні щомісячні виписки з
                рахунку та рахунку-фактури з метою обліку.
            </p>
        </div>
        <form class="company-info-form" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="field-group">
                    <label id="label-{{ forloop.counter }}" class="inline-label {% if forloop.counter >= 3 %}hidden{% endif %}">{{ field.label }}</label>
                    {{ field }}
                    {{ field.errors }}
                    {% if forloop.counter == 1 or forloop.counter >= 3 %}
                        <span class="inplace-icon" id="icon-{{ forloop.counter }}">
                            <svg class="tw-icon-svg"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10zm4.786-13.786L13 12l3.786 3.786a.69.69 0 0 1 0 1 .771.771 0 0 1-.5.214.772.772 0 0 1-.5-.214L12 13l-3.786 3.786a.648.648 0 0 1-.5.214.648.648 0 0 1-.5-.214.69.69 0 0 1 0-1L11 12 7.214 8.214a.69.69 0 0 1 0-1 .69.69 0 0 1 1 0L12 11l3.786-3.786a.69.69 0 0 1 1 0 .69.69 0 0 1 0 1z"
                                      fill="currentColor">
                                </path>
                            </svg>
                        </span>
                    {% else %}
                        <span class="inplace-icon" id="icon-2"></span>
                    {% endif %}
                    {% if forloop.counter == 2 %}
                        <span class="inplace-icon key">
                            <svg class="tw-icon-svg"
                                 viewBox="0 0 24 24"
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M12 1a6 6 0 0 0-6 6v2H5a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-9a2 2 0 0 0-2-2h-1V7a6 6 0 0 0-6-6zm4 8V7a4 4 0 0 0-8 0v2h8z"
                                      fill="#A9ABB9">
                                </path>
                            </svg>
                        </span>
                    {% endif %}
                    {% if forloop.counter == 4 %}
                    <p class="additional-info">
                        <span class="tw-text-neutral-700 tw-icon -medium -">
                            <svg class="tw-icon-svg"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 18c.6 0 1-.4 1-1v-5c0-.6-.4-1-1-1s-1 .4-1 1v5c0 .6.4 1 1 1zM10.5 8c0 .8.7 1.5 1.5 1.5s1.5-.7 1.5-1.5-.7-1.5-1.5-1.5-1.5.7-1.5 1.5z"
                                      fill="currentColor">
                                </path>
                                <path fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M2 12C2 6.5 6.5 2 12 2s10 4.5 10 10-4.5 10-10 10S2 17.5 2 12zm2 0c0 4.4 3.6 8 8 8s8-3.6 8-8-3.6-8-8-8-8 3.6-8 8z"
                                      fill="currentColor">
                                </path>
                            </svg>
                        </span>
                        Вулиця, поштовий код, місто
                    </p>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="submit-btn">Продовжити</button>
        </form>
    </div>
{% endblock %}

{% block js_additional %}
    <script src="{% static 'business/js/setup_company_billing_page/clear_field_value.js' %}"></script>
    <script src="{% static 'business/js/setup_company_billing_page/show_hide_labels.js' %}"></script>
{% endblock %}