{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'business/css/setup_company_billing.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}

{% block js_additional %}

{% endblock %}

{% block body %}
    <div class="content">
        <!--<a href="back-to">X</a>-->
        <img width="60" height="60"
             src="{% static 'business/media/briefcase.svg' %}" />
        <div class="form-title">
            <h2>Відомості про компанію</h2>
            <p>
                Будь ласка, надайте юридичну інформацію вашої компанії.
                Це дасть змогу отримувати офіційні щомісячні виписки з
                рахунку та рахунку-фактури з метою обліку.
            </p>
        </div>
    </div>
{% endblock %}