<form class="registration-form" id="driver-registration" method="post">
    <h1 class="form-header">
        Стати водієм
    </h1>
    {% csrf_token %}
    {% for field in form %}
    {% if forloop.counter == 3 %}
    <div class="form-group" id="select-window-form-group">
        <label>{{ field.label }}</label>
        {{ field }}
        {{ field.errors }}
        <span class="icons">
                                <i class="fa-solid fa-circle-xmark fa-xl" style="color: #bababa;"
                                   id="clear-field-value"></i>
                                <i class="fa-solid fa-chevron-down fa-lg" id="open-dropdown"></i>
                            </span>
        {% include './cities_dropdown.html' %}
    {% elif forloop.counter == 4 %}
    <div class="form-group" id="flex-container">
        {{ field }}
        {{ field.errors }}
        <small>
            Реєструючись, ви погоджуєтесь з
            <a href="#" class="inline-href">Правилами та умовами</a>
            та підтверджуєте, що ознайомилися з
            <a href="#" class="inline-href">Політикою конфіденційності для водіїв</a>,
            що діє у вашому регіоні
        </small>
    </div>
    {% else %}
    <div class="form-group">
        <label>{{ field.label }}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endif %}
    {% endfor %}
    <small id="additional-info">
        Щойно ви станете водієм чи водійкою, ми час від часу
        надсилатиммемо вам пропозиції та акції, пов'язані із
        нашими сервісами. Ви завжди зможете відписатись,
        змінивши налаштування розсилок.
    </small>
    <button type="submit" class="driver-sign-up">
        Зареєструватись водієм
    </button>
    <p class="login-invite">
        Вже зареєстровані? <a href="#">Увійдіть</a>
    </p>
    <p class="login-invite">
        Якщо володієте кількома авто або здійснюєте
        управління кількома водіями - <a href="#">
        зареєструйтесь як власник автопарку.
    </a>
    </p>
</form>