<section class="driver_section" id="faq_section">
    <h1 class="section-title">
        Часті запитання від водіїв
    </h1>
    <div class="accordion">
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                    Чи можу я заробляти за кермом з Bolt у моєму місті?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    Bolt доступний у сотнях міст по всьому світу. Перегляньте наш <a href="#">список міст</a>,
                    щоб дізнатися, чи доступний наш сервіс у вашому рідному місті. Знайшли своє місто в переліку?
                    Можете зареєструватись та починати заробляти!
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                   Як зареєструватись, щоб почати заробляти з Bolt?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    Зареєструватись воідєм в Bolt досить нескладно.
                    <a href="#">Заповніть та надайте потрібні дані</a> вище та надішліть
                    фото вкзазаних документів. Щойно ви отримаєте підтвердження та пройдете навчання -
                    будете готові почати заробляти!
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                    Чи потрібен мені власний автомобіль, щоб почати заробляти з Bolt?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    Так, але якщо у вас немає особистого автомобіля - не переймайтеся! Наші співробітники
                    допоможуть вам знайти автопарк для оренди автомобіля за доступною ціною. У деяких містах
                    наші партнери пропонують часткове фінансування довгострокового прокату.
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                   Чи потрібен мені смартфон, щоб почати заробляти з Bolt?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    У вас повинен бути смартфон з операційною системою Android 9.0 або iOS 14(або вище).
                    Якщо у вас немає смартфона, наші співробітники можуть порекомендувати вам бюджетний
                    телефон Android для роботи з додатком Bolt Driver.
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                    У чому полягають переваги підробітку з Bolt?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    Перевага Bolt у тому, що водії можуть заробляти гроші у відповідний їм час.
                    Хіба це не ідеальний підробіток? У нас немає обмежень за кількістю годин -
                    виконувати замовлення можна як повний тиждень, так і вечорами або у вихідні.
                    Отримуйте додатковий дохід, коли буде потрібно. Ви самі собі бос!
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <span class="accordion-title">
                    Як я отримуватиму зароблене з Bolt?
                </span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="accordion-content">
                <p>
                    Наш платіжний цикл триває з 00:00 понеділка до 25:59 неділі. По завершенні циклу
                    ви отримаєте виписку про стан вашого балансу. Усі належні вам виплати нараховуються
                    на щотижневій основі - не потрібно чекати закінчення місяця!
                </p>
            </div>
        </div>
    </div>
</section>