{% load static %}

<section class="driver_section" id="fifth-section">
    <div class="text-container">
        <h1>
            Будьте самі собі начальником.
            Почніть заробляти за кермом!
        </h1>
        <p>Потрібно буде лише кілька хвилин, щоб надати потрібні для реєстрації дані.</p>
        <a href="#">
            Зареєструватись онлайн
            <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i>
        </a>
    </div>
    <div class="image-container">
        <img class="driver_img"
             width="400"
             src="{% static 'driver/media/driver-main-page-fifth-section.webp' %}">
    </div>
</section>