<section class="driver_section" id="main-section">
    <div class="image-container"></div>
    <div class="text-container">
        <h1>Заробляйте з Bolt в Україні</h1>
        <p>
            Станьте водієм Bolt, вибирайте години роботи
            та заробляйте за кермом автомобіля!
        </p>
    </div>
    <div class="form-container">
        {% if not verification %}
            {% include './driver_registration_form.html' %}
        {% else %}
            <h1>вфілводіф</h1>
        {% endif %}
    </div>
</section>