<section class="driver_section" id="main-section">
    <div class="image-container"></div>
    <div class="text-container">
        <h1>Заробляйте з Bolt в Україні</h1>
        <p>
            Станьте водієм Bolt, вибирайте години роботи
            та заробляйте за кермом автомобіля!
        </p>
    </div>
    <div class="form-container">
        {% if not verification or not user_email %}
            {% include './driver_registration_form.html' %}
        {% else %}
            <div class="authorized-title">
                <h1>З поверненням, {{ user_email }}</h1>
                <p>Ви б хотіли продовжити вашу реєстрацію?</p>
                {% if last_page == "first" %}
                    <a href="{% url 'registration_first' '127.0.0.1' %}" class="continue-registration">Продовжити</a>
                {% elif last_page == "second" %}
                    <a href="{% url 'registration_second' '127.0.0.1' %}" class="continue-registration">Продовжити</a>
                {% endif %}
                <a href="#" id="start-registration-again">Не ви? Тоді реєструйтесь прямо зараз!</a>
            </div>
        {% endif %}
    </div>
</section>