{% load static %}

<section class="driver_section" id="third-section">
    <h1 class="section-title">
        Як працює додаток Bolt Driver
    </h1>
    <p class="section-description">
        Надійний і простий у використанні додаток, з усім необхідним для водіння та заробітку,
        коли забажаєте.
    </p>
    <div class="container">
        <div class="text-container">
            <ol>
                <li>
                    <p>
                        <b>Приймаєте запит на поїздку</b>
                    </p>
                    <p>
                        Додаток Bolt Driver автоматично знайде вам пасажирів.
                    </p>
                </li>
                <li>
                    <p>
                        <b>Забираєте пасажира</b>
                    </p>
                    <p>
                        У додатку буде показано маршрут до місця розташування пасажирів.
                        Заїжджайте за ними та вирушайте!
                    </p>
                </li>
                <li>
                    <p>
                        <b>
                            Рушайте до місця призначення
                        </b>
                    </p>
                    <p>
                        Дотримуйтесь маршруту та свайпніть праворуч, щоб завершити
                        замовлення, коли дістанетесь точки призначення.
                    </p>
                </li>
                <li>
                    <p>
                        <b>Ось і все! Повторюйте ці дії та отримуйте пристойні гроші</b>
                    </p>
                    <p>
                        Приймати замовлення й заробляти чи вийти в офлайн - вирішувати тільки вам!
                    </p>
                </li>
            </ol>
        </div>
        <div class="image-container">
            <img class="driver-image"
                 width="500"
                 src="{% static 'driver/media/driver-main-page-third-section.webp' %}"
            >
        </div>
    </div>
</section>