<div class="left-section">
    <div class="popup-section-header">
        <ul class="header">
            <li>Сервіси</li>
            <li>Заробляйте з Bolt</li>
            <li>Компанія</li>
            <li>Безпека</li>
            <li>Підтримка</li>
            <li>Міста</li>
        </ul>
    </div>
    <div class="popup-main-container">
        <div class="ul-row">
            <div class="ul">
                <p class="ul-title">
                    Поїздки
                </p>
                <ul id="first-ul">
                    <li>
                        Безпека пасажирів
                        <i class="fa-solid fa-arrow-right"></i>
                    </li>
                    <li>
                        Замовити поїздку
                        <i class="fa-solid fa-arrow-right"></i>
                    </li>
                    <li>
                        Стати водієм
                        <i class="fa-solid fa-arrow-right"></i>
                    </li>
                </ul>
            </div>
            <div class="ul">
                <p class="ul-title">
                    Електросамокати
                </p>
                <ul id="second-ul">
                    <li>
                        Безпека електросамокатів
                        <i class="fa-solid fa-arrow-right"></i>
                    </li>
                    <li>
                        Повідомити про електросамокат
                        <i class="fa-solid fa-arrow-right"></i>
                    </li>
                    <li>
                        Лабораторія безпеки
                        <i class="fa-solid fa-arrow-right"></i>
                    </li>
                </ul>
            </div>
            <div class="ul">
                <p class="ul-title">
                    Доставка продуктів Bolt Market
                </p>
                <ul id="last-ul">
                    <li>
                        Стати кур'єром
                        <i class="fa-solid fa-arrow-right"></i>
                    </li>
                    <li>
                        Додати ресторан чи крамницю
                        <i class="fa-solid fa-arrow-right"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ul-row">
            <div class="ul">
                <p class="ul-title">
                    Доставка Bolt Food
                </p>
                <ul id="delivery">
                    <li>
                        Стати кур'єром
                        <i class="fa-solid fa-arrow-right"></i>
                    </li>
                    <li>
                        Додати ресторан чи крамницю
                        <i class="fa-solid fa-arrow-right"></i>
                    </li>
                </ul>
            </div>
            <div class="ul" id="car-sharing">
                <p class="ul-title">
                    Каршерінг Bolt Drive
                </p>
                <ul id="sharing">
                    <li>
                        Запитання та відповіді
                        <i class="fa-solid fa-arrow-right"></i>
                    </li>
                    <li>
                        Повідомити про проблему з ТЗ
                        <i class="fa-solid fa-arrow-right"></i>
                    </li>
                </ul>
            </div>
            <div class="ul">
                <p class="ul-title">
                    Корпоративні поїздки Bolt Business
                </p>
                <ul id="business">
                    <li>
                        Переваги
                        <i class="fa-solid fa-arrow-right"></i>
                    </li>
                    <li>
                        Робочий обліковий запис
                        <i class="fa-solid fa-arrow-right"></i>
                    </li>
                    <li>
                        Сервіси
                        <i class="fa-solid fa-arrow-right"></i>
                    </li>
                    <li>
                        Bolt Food для корпоративних клієнтів
                        <i class="fa-solid fa-arrow-right"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ul-row">
            <div class="ul">
                <p class="ul-title">
                    Електровелосипеди
                </p>
                <ul id="electro-bike">
                    <li>
                        Лабораторія безпеки
                        <i class="fa-solid fa-arrow-right"></i>
                    </li>
                    <li>
                        Повідомити про електровелосипед
                        <i class="fa-solid fa-arrow-right"></i>
                    </li>
                    <li>
                        Запитання та відповіді
                        <i class="fa-solid fa-arrow-right"></i>
                    </li>
                </ul>
            </div>
            <div class="ul" id="bolt-plus-container">
                <p class="ul-title">
                    Bolt Plus
                </p>
                <ul id="bolt-plus">
                    <li>
                        Переваги
                        <i class="fa-solid fa-arrow-right"></i>
                    </li>
                    <li>
                        Як приєднатися
                        <i class="fa-solid fa-arrow-right"></i>
                    </li>
                    <li>
                        Запитання та відповіді
                        <i class="fa-solid fa-arrow-right"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>