<div class="popup" id="help-popup">
    <div class="popup-header">
        <a href="javascript:void(0);" id="close-popup-btn">
            X
        </a>
        <div class="header-text">
            <h4 class="popup-title">
                Керування групами та правилами
            </h4>
            <p>
                Ця стаття містить інформацію про:
            </p>
            <ul class="links-ul">
                <li>
                    <a href=#">Керування групами</a>
                </li>
                <li>
                    <a href="#">Правила керування</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="popup-body">
        <h3 class="section-title">
            Керування групами
        </h3>
        <p>
            За допомогою функції груп ви можете створювати групи, керувати ними
            та підключати до них різних співробітників. Це допоможе вас згрупувати
            людей, які використовують Bolt схожим способом у вашій організації.
            За замовчуванням всі люди входять до Загальної групи.
        </p>
        <p>
            Кожна групи може мати:
        </p>
        <ul class="group-desc">
            <li>
                Різну назву
            </li>
            <li>
                Різні правила
            </li>
            <li>
                Опис
            </li>
            <li>
                Координатора
            </li>
            <li>
                Ідентифікатора для фінансового обліку
            </li>
        </ul>
        <p>
            Керувати групам вашої компанії можна на вкладці
            <i>Групи</i> на Інформаційній панелі
        </p>
        <ul>
            <li>
                <b>Додавання нової групи</b>:Натисніть на кнопку
                <i>Додати групу</i>.
            </li>
            <li>
                <b>Редагування дійсної групи</b>:Натисніть на відповідну
                групу у списку, внесіть зміни та
                натисніть кнопку <i>Оновити групу</i>.
            </li>
            <li>
                <b>Видалення групи</b>:Натисніть на
                групу, яку ви хочете видалити, прокрутіть вниз
                і натисніть кнопку <i>Видалити групу</i>.
            </li>
            <ul class="inner-ul">
                <li>
                    <b>Примітка</b>:Видаляти можна лише порожні
                    групи.
                </li>
            </ul>
        </ul>
        <p>
            <b>
                Зверніть увагу:
            </b>
            Видаляти Загальну групу неможливо.
        </p>
    </div>
    <div class="popup-rules">
        <h3 class="section-title">Правила користування</h3>
        <p>
            Правила - це обмеження, які встановлені для певної групи
            користувачів, щодо того, як вони можуть використовувати метод
            корпоративних платежів. Ви можете керувати вашими правилами на
            вкладці <i>Правила</i> на Інформаційній панелі.
        </p>
        <ul>
            <li>
                <b>Створення нових правил:</b>Натисніть на кнопку
                <i>Додати правило</i>.
            </li>
            <ul>
                <li>
                    Після того, як ви дали назву правилу,
                    ви можете додавати до нього різні
                    обмеження зі списку, що пов'язані з:
                </li>
                <ul>
                    <li>
                        Відстеженням витрат
                    </li>
                    <li>
                        Бюджетом
                    </li>
                    <li>
                        Кількістю поїздок
                    </li>
                    <li>
                        Днем і часом поїздки
                    </li>
                    <li>
                        Типом послуги
                    </li>
                    <li>
                        Місцем поїздок
                    </li>
                </ul>
                <li>
                    <b>Для редагування дійсного правила:</b>
                    Натисніть на відповідне правило зі списку, внесіть
                    зміни та збережіть їх
                </li>
                <li>
                    <b>Для видалення правила:</b>
                    Натисніть на правило, яке ви хочете видалити, прокрутіть вниз
                    і натисніть на <i>Видалити набір правил</i>.
                </li>
            </ul>
        </ul>
        <p>
            <b>Зверніть увагу:</b> Правила не застосовуються
            до поїздок через Замовник поїздок
        </p>
    </div>
    <div class="popup-footer">
        <a href="#">Все ще потрібна допомога</a>
    </div>
</div>