<div class="overlay"></div>
<div class="popup">
    <div class="popup-body">
        <div class="header-head">
            <h3 class="popup-title">
                Змінити пароль
            </h3>
            <button class="close-popup">X</button>
        </div>
        <form id="change-password-form" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="field-group">
                <label>{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% endfor %}
            <div class="btn-container">
                <button type="button" class="popup-btn cancel-btn">
                    Відмінити
                </button>
                <button type="submit" class="popup-btn save-btn">
                    Зберегти
                </button>
            </div>
        </form>
    </div>
</div>