#fifth-section {
    padding: 2% 8%;
    display: flex;
    font-weight: 500;
}

#fifth-section .text-container ul{
    list-style-type: square;
}


#fifth-section a {
    color: rgba(50,187,120,1);
}