* {
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    background: black;
    color: white;
    font-weight: 500;
    padding: 10px;
    max-height: 200px;
    z-index: 1000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header.scrolled {
    background: black;
    color: white;
}

header .logo-img {
    cursor: pointer;
    z-index: 1000;
}

header .left-container,
header .right-container {
    display: flex;
    align-items: center;
    z-index: 1000;
}

header .delivery-dropdown,
header .income-dropdown {
    position: absolute;
    top: 10%;
    background: black;
    left: 67%;
    width: 18%;
    display: none;
}

header .income-dropdown {
    left: 78%;
}

header .delivery-dropdown .inner-content{
    display: none;
    transform: transition 0.9s ease;
}

header .income-dropdown .income-inner-content {
    display: none;
}

header .delivery-dropdown ul li a {
    text-decoration: none;
    color: white;
}

header .delivery-dropdown ul li a:hover {
    color: green;
}

header .delivery-dropdown .inner-content ul li a,
header .income-dropdown .income-inner-content ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

header .income-dropdown ul li a {
    text-decoration: none;
    color: white;
}

header .delivery-dropdown .inner-content ul li a:hover,
header .income-dropdown .income-inner-content ul li a:hover{
    color: green;
}


.income-dropdown ul li a:hover {
    color: green;
}

header .delivery-dropdown .inner-content .disable-li,
header .income-dropdown .income-inner-content .disable-li{
    font-weight: 600;
    color: gray;
    margin-left: -3%;
}

header .delivery-dropdown ul,
header .income-dropdown ul {
    list-style-type: none;
}

header .delivery-dropdown ul li,
header .income-dropdown ul li{
    margin-top: 3%;
    cursor: pointer;
}

header .delivery-dropdown ul i,
header .income-dropdown ul i{
    float: left;
    display: inline-block;
    margin-left: -10%;
    margin-top: 5%;
}

header .delivery-dropdown ul i:hover,
header .income-dropdown ul i:hover{
    color: green;
}

header .delivery-dropdown ul li:hover,
header .income-dropdown ul li:hover{
    color: green;
}

header .income-dropdown i:hover {
    color: green;
}

header .logo-title{
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

header .logo-title:hover {
    color: green;
}

header .right-container .dropdown-container {
    position: relative;
}

header .right-container .dropdown-container p {
    display: inline-block;
    margin-top: 0;
    margin-right: 0;
}

.fa-magnifying-glass {
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}
