<div class="container">
    <form class="add-partner-form" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if forloop.counter == 2 %}
                <div class="conditional-field {% if field.errors %}error {% endif %}">
                    <label>{{ field.label }}</label>
                    {% if field.errors %}
                        <i class="fa-solid fa-triangle-exclamation" id="error-sign2" style="color: #a80000;"></i>
                    {% endif %}
                    {{ field }}
                    <i class="fa-solid fa-angle-down" id="select-niche-arrow"></i>
                    {{ field.errors }}
                </div>
            {% elif forloop.counter == 3 %}
                {% include './choose_cuisine_modal.html' %}
                <div class="conditional-field {% if field.errors %}error {% endif %}">
                    <label>{{ field.label }}</label>
                    {% if field.errors %}
                        <i class="fa-solid fa-triangle-exclamation" id="error-sign3" style="color: #a8000"></i>
                    {% endif %}
                    {{ field }}
                    <i class="fa-solid fa-angle-down" id="bottom-arrow"></i>
                    <div class="badge-container" id="badge-container">
                        <div class="badge" id="cuisine_badge"></div>
                        <div class="error-container" id="error-message-container"></div>
                    </div>
                </div>
            {% elif forloop.counter == 4 %}
                <div class="conditional-field {% if field.errors %}error {% endif %}">
                    <label id="address-label">{{ field.label }}</label>
                    {% if field.errors %}
                        <i class="fa-solid fa-triangle-exclamation" id="error-sign4" style="color: #a8000"></i>
                    {% endif %}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% elif forloop.counter == 6 %}
                <div class="conditional-field {% if field.errors %}error {% endif %}">
                    <label>{{ field.label }}</label>
                    {% if field.errors %}
                        <i class="fa-solid fa-triangle-exclamation" id="error-sign" style="color: #a80000;"></i>
                    {% endif %}
                    {{ field }}
                    {{ field.errors }}
                    <p class="field-notice">
                        Головна пошта для зв'язку з вами
                    </p>
                </div>
            {% elif forloop.counter == 7 %}
                <div class="dynamic-field conditional-field {% if field.errors %}error {% endif %}">
                    <label>{{ field.label }}</label>
                    {% if field.errors %}
                        <i class="fa-solid fa-triangle-exclamation" id="error-sign5" style="color: #a80000;"></i>
                    {% endif %}
                    {{ field }}
                    {{ field.errors }}
                    <i class="fa-solid fa-angle-down" id="bottom-arrow-down"></i>
                </div>
            {% elif field.label == " " %}
                <div class="last-point-container">
                    {{ field }}
                    <p>
                        Я ознайомився(-лась) та погоджуюсь з
                        <a href="#">Політикою конфіденційності</a>
                    </p>
                    <button type="submit">
                        Продовжити
                    </button>
                </div>
            {% else %}
                <label>{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
            {% endif %}
        {% endfor %}
    </form>
</div>