<section class="help_section" id="third-section">
        <div class="background-gray">
            <div class="step">
                <h3>
                        <span>
                            18 грн
                        </span>
                    * активний коефіцієнт
                </h3>
                <small>База</small>
            </div>
            <div class="step">
                <h3>
                        <span>
                            7 грн/км
                        </span>
                    * активний коефіцієнт
                </h3>
                <small id="second-small">Плата за км від ресторану до клієнта</small>
            </div>
        </div>
        <div class="explain-container">
            <ul>
                <li>
                    Інформація про актуальні коефіцієнти публікується у
                    <a href="#">нашому телеграм-каналі</a>
                    кожного тижня.
                </li>
                <li>
                    Дистанція до клієнта визначається як найкоротший маршрут на Google Maps.
                </li>
            </ul>
            <p>
                До виконання замовлення буде застосовано коефіцієнт,
                <b>який був активним на момент його прийняття!</b>
            </p>
        </div>
        <div class="background-gray">
            <p>
                💰 <b>Виплата</b> за минулий тиждень надсилається щопонеділка у період з 10:00 до 14:00.
                Швидкість зарахування залежить від обробки платежу вашим банком.
            </p>
        </div>
    </section>