.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
}

.popup {
    position: fixed;
    top: 25%;
    left: 37%;
    display: none;
    background: white;
    padding: 3%;
    border-radius: 5%;
    z-index: 1001;
    width: 35%;
}

.popup .popup-body .header-head {
    display: flex;
}

.popup .popup-body h3 {
    font-weight: 700;
    margin-right: 10%;
}

.popup .close-popup {
    border-radius: 50%;
    width: 15%;
    min-height: 50%;
    border: none;
    margin-left: 10%;
    margin-top: -5%;
    font-weight: 600;
    font-size: 1.3rem;
    padding: -2%;
}

.popup form {
    margin-top: 4%;
}

.popup form .field-group {
    margin-bottom: 4%;
}

.popup form label {
    font-weight: 700;
    margin-bottom: 2%;
}

.popup form input {
    background: #F5F5F5;
    height: 55px;
    outline: none;
    border: none;
}

.popup button {
    padding: 3%;
    width: 43%;
    border-radius: 20px;
    border: none;
    font-weight: 700;
}


.cancel-btn:hover {
    background: #F5F5F5;
}

.save-btn {
    margin-left: 12%;
    background: rgba(50,187,120,0.8);
    color: white;
}

.save-btn:hover {
    background: rgba(50, 187, 120, 1);
}


.popup .errorlist {
    list-style-type: none;
    margin-left: -7%;
    color: tomato;
    font-weight: 500;
}