#third-section,
#fifth-section {
    padding: 4% 10%;
    font-weight: 500;
}

#third-section ul {
    margin-left: -1%;
    list-style-type: square;
}

#third-section p a {
    color: rgba(50,187,120,1);
}

#third-section em {
    text-decoration: underline;
}