<section class="help_section" id="second-section">
    <div class="text-container">
        <h6 class="section-title">
            Усі доставки з Bolt Food застраховані!
        </h6>
        <p class="section-explain">
            Після активації вашого облікового запису кур'єра Bolt Food, зареєструйстесь
            у <a href="#">програмі</a>, аби мати можливість отримати страховий захист
            та консьєрж підтримку 24/7 для кур'єрів-партнерів під час виконання замовлень
        </p>
    </div>
</section>